#campusmap-pdf-link {
	float:right; 
	margin:0 0 10px 10px; 
	width:255px; 
	font-size: 11px;
	text-align: center;
}
#campusmap-pdf-link img {
	margin-bottom: 4px;
	overflow: hidden;
}

/* Main Map Container */
#campus-map {
	background-color: #dedede;
	height: 525px;
	width: 690px;
	overflow: hidden;
}

/* Tabs and Options */
#campus-map .options,
#campus-map .options li {
	display: block;
	height: 50px;
	margin: 0;
}
#campus-map .options li {
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efefef 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efefef 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #efefef 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #efefef 0%,#ffffff 100%); /* W3C */
	float: left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	list-style: none;
}
#campus-map .options .active {
	background: #cdcdcd; /* Old browsers */
	background: -moz-linear-gradient(top, #cdcdcd 0%, #dedede 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdcdcd 0%,#dedede 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdcdcd 0%,#dedede 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #cdcdcd 0%,#dedede 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #cdcdcd 0%,#dedede 100%); /* W3C */
}
#campus-map .options .tab {
	border-right: 1px solid #dcdcdc;
}
#campus-map .options .tab a, #campus-map .options .tab a:active, #campus-map .options .tab a:visited {
	color: #666;
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 150px;
}
#campus-map .options .tab a:hover {
	color: #fff;
	background: #aaa; /* Old browsers */
	background: -moz-linear-gradient(top, #cdcdcd 0%, #aaa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#dedede)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cdcdcd 0%,#aaa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cdcdcd 0%,#aaa 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #cdcdcd 0%,#aaa 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#aaa',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #cdcdcd 0%,#aaa 100%); /* W3C */
}

#campus-map .options .active a, #campus-map .options .active a:active, #campus-map .options .active a:visited {
	color: #333;
}
#campus-map .options .locations {
	text-align: right;
	padding-right: 8px;
	width: 348px;
	max-width: 100%;
}
#campus-map .options .locations select {
	padding: 4px 0;
	font-size: 13px;
}

/* Map Area */
#mapHolder {	
	clear: both;
	margin: 8px;
	-webkit-box-shadow: 0px 0px 5px 0px #acacac;
	-moz-box-shadow: 0px 0px 5px 0px #acacac;
	box-shadow: 0px 0px 5px 0px #acacac; 
}
#mapHolder, #map {
	width: 675px;
	height: 460px;
}


/*
CONTAINED IN DEFAULT CSS, REMOVE FOR PRODUCTION
*/
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */
