.fade {
    opacity: 0;
    transition: opacity .15s linear;
    &.in {
        opacity: 1;
    }
}

.collapse {
    display: none;
    &.in {
        display: block;
    }
}

.rotate {
    transform: rotate(405deg);
    //transform: scale(2, 3);
    transition: all 1s ease;
}

tr {
    &.collapse.in {
        display: table-row;
    }
}

tbody {
    &.collapse.in {
        display: table-row-group;
    }
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .35s;
    transition-property: height;
}

//for the flipme images
.flipme {
    position: relative;
    overflow: hidden;
    float: left;
}

.flipme figure {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    background-size: cover;
    min-height: 250px;
    height: 100%;
    overflow: hidden;
    width: 100%;
    @media screen and (min-width: 768px) {
        background-position: center;
    }
    &:hover {
        background-image: none;
    }
}

.flipme figure img {
    display: block;
    position: relative;
    z-index: 10;
}

.flipme figure figcaption {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.flipme figure h3 {
    width: 100%;
    font-size: 18px;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1300px) {
        font-size: 20px;
    }
}


/*.flipme figure p {
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #fff;
    text-align: left;
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        font-size: 12px;
    }
} */

.flipme figure figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 25px 20px;
    background-color: #fff;
    text-align: left;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    align-content: center;
    align-items: flex-start;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    h5 {
        color: $coral;
        font-size: 24px;
    }
    p {
        color: #000;
        width: 100%;
        margin: 15px 0;
        line-height: 1.5;
        font-size: 16px;
    }
    a {
        color: $coral;
        text-decoration: none;
        border-bottom: 1px $coral dotted;
        padding-bottom: 1px;
        &:after {
            margin-left: 4px;
            content: ' >>';
            color: $coral;
        }
    }
}

.flipme figure img {
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.flipme figure:hover img,
figure.hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipme figure:hover figcaption,
figure.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
}

.rotate:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}

.shrink:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.circle:hover {
    border-radius: 50%;
}

// These are for the hover images with text ... based on miketricking.github.io
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    //text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(229, 85, 79, .5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect h3 {
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hovereffect .info {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hovereffect .info:hover {
    //box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.hovereffect:hover h3,
.hovereffect:hover .info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover .info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.hovereffect h3 a:hover {
    text-decoration: none;
    border-bottom: 1px #fff solid;
    transition: all .2s ease-in-out;
}

// for the pulsing arrows thanks paulund ~mj
.pulse_animation {
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin: 70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.20);
    }
    40% {
        transform: scale(1.20);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.15);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}
