// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: #000 !important;
}

//------- Colors
// Loyno Official
$maroon: #660000 !default;
$coral: #e5554f !default;
$brightred: #f93822 !default;
$gold: #f4aa00 !default;
$yellow: #ffd700 !default;
$altyellow: #fed024 !default;
$tan: #fead77 !default;
$teal: #00b388 !default;
$blue: #00aec7 !default;
//~mj Custom
$grey: #84817d !default;
$lightgrey: #fbf8f8 !default;
$purple: #802754 !default;
$orangeRed: #f83823 !default;
$twitter: #00aced !default;
$facebook: #3b5998 !default;
$instagram: #bc2a8d !default;
$youtube: #bb0000 !default;
//------- Fonts
$slab-light: 'PMNCaeciliaW01-45Light';
$slab-bold: 'PMNCaeciliaW01-75Bold';
$sans-light: 'Proxima N W01 Light';
$sans-semibold: 'Proxima N W01 Smbd';
$faith1: 'FaithAndGloryOne';
$faith2: 'FaithAndGloryTwo';
p {
    font-family: $slab-light;
}

ul {
    margin: 0;
}

img {
    max-width: 100%;
}

.fullwidth {
    width: 100%;
    h2 {
        //@extends .caeBold;
        font-size: 60px;
        @media screen and (min-width: 1200px) {
            font-size: 90px;
        }
    }
}

.faith1 {
    font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
}

.faith2 {
    font-family: 'FaithAndGloryTwo', Helvetica, Arial, Sans-Serif;
}

.caeBold {
    font-family: "PMNCaeciliaW01-75Bold";
}

.caeLight {
    font-family: "PMNCaeciliaW01-45Light";
}

.faith1 a,
.faith2 a {
    padding: .5em
}

.allcaps {
    text-transform: uppercase;
}

.white {
    color: #fff;
}

.blue {
    color: #0c9fba;
}

.maroon {
    color: $maroon;
}

.brightRed {
    color: $brightred;
}

.pink {
    color: $coral;
}

.black {
    color: #000;
}

.red {
    color: $brightred;
}

.gold {
    color: $gold;
}

hr.gold {
    background-color: $gold;
    height: 2px;
    border-top: 2px $gold solid;
}

a.red {
    text-decoration: none;
    border-bottom: 1px $red dotted;
    padding-bottom: 2px;
}

.parallax {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-bottom: 20px;
}

// ***** NAVIGATION STUFF ***** /////
#mobileNav {
    display: none;
}

.more {
    font-size: 20px;
    @media screen and (min-width: 768px) {
        font-size: 30px;
    }
    text-decoration: underline;
    background-color: $coral;
    padding: 4px 12px;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    &:visited {
        color: #fff;
    }
    &:hover {
        text-decoration: none;
        background-color: $gold;
        color: $maroon !important;
    }
}

.help {
    a {
        @media screen and (max-width: 768px) {
            display: inline-block;
        }
    }
}

.hidden {
    display: none;
}

.ghost {
    visibility: hidden;
}

.inner {
    text-align: center;
}

#header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 999900;
    top: 0;
}

.mobileRow {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
}

#mobileNav {
    width: 100%;
}

#mobileNav span {
    color: #e55652;
    font-size: 26px;
    @media screen and (min-width: 768px) {
        font-size: 40px;
    }
}

#menubutton {
    align-self: center;
    padding: 0;
    text-align: center;
}

.top_nav nav {
    padding: 0;
    height: 50px;
    ul {
        padding: 0;
        line-height: 1;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    li {
        padding: 0 20px 0 0;
        padding: 0;
        line-height: 1;
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-around;
        a {
            color: $grey;
            padding: 0;
            font-size: 16px;
        }
    }
}

.icon {
    &.icon-close {
        &:before {
            content: "\f00d";
            font-family: FontAwesome;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 10px;
            right: 25px;
            display: block;
            color: #000;
            font-size: 2.5em;
            color: $maroon;
        }
    }
}

#more_link {
    color: $maroon;
    &:hover {
        color: #858482;
    }
}

.more_link::after {
    content: ' +';
    color: $maroon;
    vertical-align: top;
    &:hover {
        color: #858482;
    }
}

.desktop_logo {
    padding-left: 22px;
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
    min-height: 50px;
    width: 100%;
    color: transparent;
    font: 0/0 a;
    background-color: transparent;
    display: flex;
    background-size: contain;
    img {
        align-self: center;
        object-fit: contain;
    }
}

.secondary_nav {
    padding: 17px 0 16px;
    background-color: $maroon;
    li a {
        font-weight: 500;
        &:hover {
            background-color: #fff;
            color: $maroon;
        }
        &.current {
            color: #fff;
            &:hover {
                color: $maroon;
            }
        }
    }
    nav {
        margin: 0 auto;
    }
}

.secondary_nav_mobile {
    padding: 10px 15px;
    justify-content: center;
    @media screen and (min-width: 1000px) {
        display: none !important;
    }
    background-color: $maroon;
    margin-top: 0;
    ul {
        a {
            color: $gold;
            padding: 2px;
            font-weight: 300;
            &:hover {
                background: transparent;
                color: #fff;
            }
        }
    }
}

#mobLogo {
    margin-top: 0;
    padding-left: 0;
}

.spacer,
.spacer-neworleans {}

nav ul {
    text-align: center;
    position: relative;
    margin: 0 auto;
    line-height: 1;
}

nav ul li {
    color: #660000;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "PMNCaeciliaW01-75Bold";
    display: inline;
    @media screen and (max-width: 520px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        font-size: 24px;
    }
}

nav ul li a {
    color: $gold;
    text-decoration: none;
    padding: 0 20px;
    transition: all .5s;
}

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: none;
    color: $maroon;
    background-color: #fff;
}

#search {
    white-space: nowrap;
    float: left;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: stretch;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    &.mobileNav {
        margin-bottom: 0;
        margin-left: 0;
        text-align: right;
        float: right;
        justify-content: flex-end;
    }
}

#search input[type="text"] {
    background: #f8d905;
    border: 0;
    width: 100%;
    color: $grey;
    text-transform: uppercase;
    padding-left: .5em;
    border-radius: 0;
}

#search span {
    color: $maroon;
    font-size: 22px;
    padding-left: 8px;
}

.mobileSearch {
    width: 100%;
}

.mobile-search-form {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

#search-input-mobile {
    width: 100%;
    input[type="text"] {
        width: 100% !important;
    }
}

a.giveNow {
    background-color: #fad800;
    padding: 8px 5px;
    color: #f93822;
    width: 35%;
    text-align: center;
    margin: 0 0 15px auto;
    border-radius: 0;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        padding: 4px 12px;
        width: 100%;
        display: inline-block;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

a.coral-arrow {
    &:after {
        background-image: url('../img/svg/arrow-right-coral.svg');
        background-repeat: no-repeat;
        background-position: center center;
        content: ' ';
        display: inline-block;
        background-size: 100%;
        float: right;
        margin: 0 15px 0 0;
        width: 25px;
        height: 20px;
        @media screen and (max-width: 420px) {
            width: 15px;
            height: 10px;
            margin: 4px 0 0 0;
        }
        @media screen and (min-width: 1200px) {
            width: 50px;
            height: 45px;
            margin-top: -4px;
        }
    }
}

a.white-arrow {
    &:after {
        background-image: url('../img/svg/arrow-right-white.svg');
        background-repeat: no-repeat;
        background-position: center center;
        content: ' ';
        display: inline-block;
        background-size: 100%;
        margin: 0 auto;
        width: 55px;
        height: 35px;
        font-size: 2em;
        text-align: center
    }
}








/*---------sidemenu------------------*/

ul.arrow>li {
    // to add the arrow after <li>s
    /* a::after {
        background-image: url('../img/svg/arrow-right-white.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 21px;
        height: 16px;
        content: ' ';
        display: inline-block;
        background-size: 100%;
    } */
}

#sideMenu {
    text-align: right;
    position: fixed;
    @media screen and (min-width: 1350px) {
        max-width: 215px;
    }
    max-width: 170px;
    width: 100%;
    padding: 0 15px 15px;
    display: block;
    background-color: #f83823;
    top: 0;
    z-index: 9900;
    margin-top: 108px;
    font-family: proxima-nova,
    sans-serif;
    font-style: normal;
    font-weight: 600;
    &.alert-activated {
        @media screen and (min-width: 1200px) {
            margin-top: 128px;
        }
        margin-top: 0;
    }
    @media screen and (min-width: 1000px) {
        padding-top: 15px;
    }
    @media screen and (max-width: 1200px) {
        max-width: none;
        position: relative;
        top: 0;
        display: none;
    }
}

#sideMenu ul li {
    list-style-type: none;
    white-space: nowrap;
    text-align: right;
    display: block;
}

.right-arrow {
    background-image: url('../img/svg/arrow-right-white.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 50px;
    height: 50px;
    content: ' ';
    display: inline-block;
    background-size: 100%;
    margin: 0 auto;
    color: #fff;
}

.fa .fa-arrow-right {
    color: #fff;
    font-size: 2em;
}

#newsfeed {
    font-family: proxima-nova, sans-serif;
    .news-item {
        border-bottom: 2px solid $gold;
        margin-bottom: 20px;
        @media screen and (max-width: 1000px) {
            h4 {
                font-size: 18px;
            }
        }
    }
    .more {
        float: right;
        color: #fff;
        font-family: "PMNCaeciliaW01-75Bold";
    }
    .news-item:last-child {
        border-bottom: none; //margin-bottom: 120px;
    }
    a {
        color: #000;
    }
    a.read-more {
        color: $red;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
    }
}

#social-links-wrapper {
    display: inline-block; //float: left;
    color: #fff;
    text-align: right;
    font-family: proxima-nova, sans-serif;
    margin: 1em 0;
    width: 75%;
    @media screen and (min-width: 1000px) {
        text-align: center; //float: left;
    }
    @media screen and (min-width: 1350px) {
        width: 100%;
    }
}

.social-links {
    //display: inline-block;
    a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 5px;
        border: 2px #fff solid;
        border-radius: 30px;
        width: 42px;
        margin-bottom: 8px;
        &:hover {
            text-decoration: none;
            color: $gold;
        }
        &.fa:before {
            font-size: 30px;
        }
    }
}

.social-links-text {
    padding: 0;
    @media screen and (min-width: 768px) {
        padding: 0 8px 0 0;
    }
    margin-top: 8px;
    text-decoration: none;
    color: #fff;
    font-size: 1.05em;
    @media screen and (min-width: 1280px) {
        font-size: 1.25em;
    }
    &:hover {
        text-decoration: none;
        color: $gold;
    }
}

#sidenav {
    width: 100%;
    float: left;
    padding: 0;
    @media screen and (max-width: 1000px) {
        margin: 1em 0;
        width: 100%;
        .item {
            float: left;
            width: 200px;
            padding-right: none;
        }
    }
    @media screen and (min-width: 1001px) {
        max-width: 200px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        list-style-type: circle;
        white-space: nowrap;
        color: #fff;
        text-transform: lowercase;
        font-size: 20px;
        text-align: right;
        display: inline;
        background: transparent url('../img/svg/arrow-right-white.svg') right;
        background-repeat: no-repeat;
        background-size: 17px; //margin-right: 8px;
        transition: all .25s;
        position: relative;
        left: 0;
        &:hover {
            left: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        @media screen and (min-width: 1280px) {
            font-size: 24px;
        }
        @media screen and (min-width: 420px) and (max-width: 1200px) {
            list-style-type: none;
            white-space: nowrap;
            float: right;
            width: auto;
            color: #0c9fba;
            text-align: right;
        }
        a {
            color: #fff;
            padding-right: 20px;
            width: 100%;
            @media screen and (max-width: 768px) {
                padding-left: 10px;
            }
            &:hover {
                color: $gold;
                text-decoration: none;
            }
        }

        &.req-info {
            background: none;
            a {
                color: $maroon;
                &:hover {
                    color: $gold!important;
                }
                @media screen and (min-width: 1350px) {
                    background: transparent url('../img/svg/arrow-right-maroon.svg') right no-repeat;
                    background-size: 17px;
                }
            }
        }
    }
}

#sidenav .item {
    float: left;
    width: 170px;
    padding-right: 10px;
}

#sidenav li img {
    float: left;
    margin-top: 10px;
}

#findPeopleNav {
    display: inline-block;
    text-align: right;
    nav {
        display: inline-block;
        ul {
            width: 100%;
            float: right;
            text-align: right;
        }
        a {
            color: #fff;
            font-size: .85em;
            padding: 4px 0;
            @media screen and (min-width: 520px) {
                padding-right: 8px;
            }
            &:hover {
                color: $gold;
                background: transparent;
            }
        }
    }
}

#subnav {
    width: 200px;
    margin-left: -50px;
}

#subnav li {
    font-size: 21px !important;
    list-style-type: none;
    color: #84817d;
    white-space: nowrap;
    float: left;
    width: 240px;
    margin-bottom: 15px;
}

#subnav .item {
    float: left;
    width: 220px;
    color: #84817d;
    padding-right: 10px;
}

#subnav li img {
    float: left;
    margin-top: 3px;
    width: 20px;
}

.drop {
    float: left;
    display: none;
}

.drop ul {
    color: #660000 !important;
    padding: 0px;
    text-align: left;
    padding-left: 5px;
}

.drop ul li {
    text-align: left !important;
    color: #660000 !important;
    border-bottom: 1px solid #0c9fba;
}

.drop ul li a {
    color: #660000 !important;
    font-size: 18px !important;
}

.emergency_alert {
    background: $orangeRed;
    padding: 15px;
    text-align: left;
    display: none; //@extends .row;
    @media screen and (min-width: 1200px) {
        text-align: center;
    }
    color: #fff;
    .headline {
        color: $yellow;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
    }
    .alert_info {
        display: inline-block;
    }
    a {
        color: #fff;
        border-bottom: 1px $coral solid;
        padding-bottom: 2px;
        &:hover {
            text-decoration: none;
            color: $gold;
            border-bottom: 1px $gold solid;
        }
    }
}

#more-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    display: none;
    #more-menu-inner {
        background: $gold;
        margin: 0 auto;
        padding: 3em 2em;
    }
}

#more-menu-content {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
    justify-content: center;
    align-content: space-around;
    ul {
        margin-left: 25px 0 0 0;
        margin-top: 25px;
        flex-basis: 19%;
        padding-left: 0;
        @media screen and (min-width: 1200px) {
            padding-left: 25px;
        }
        @media screen and (min-width: 1200px) {
            padding-left: 25px;
        }
        &:first-child {
            margin: 0;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 0;
        }
        .more-menu-header {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: $maroon;
        }
        li {
            position: relative;
            list-style-type: none;
            padding: 10px 0;
            &.first {
                margin-top: 25px;
            }
            &:after {
                border-bottom: 1px #fff solid;
                content: ' ';
                width: 100%;
                height: 1px;
                bottom: 0;
                position: absolute;
                left: 0;
            }
            a {
                color: $maroon;
                padding-bottom: 8px;
                width: 100%;
                font-size: 16px;
            }
        }
    }
}








/*-------endsidemenu----------*/

#whatsNew {
    position: absolute;
    bottom: 20px;
    color: #fff;
    z-index: 200;
    font-size: 47px;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    @media screen and (max-width: 1200px) {
        display: none;
    }
}

#whatsNew a {
    color: #fff;
}

#whatsNew h2 {
    font-family: 'Proxima N W01 Light';
    margin: 0;
    padding: 0;
}

#myCarousel {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    .home-slider-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        min-height: 320px;
        background-position: center top;
        background-repeat: no-repeat;
    }
}

.newMajors {
    width: 100%;
    background-color: $gold;
    float: left;
    padding: 0;
    a.majorsButton {
        font: 0/0 a;
        width: 100%;
        height: 100%;
        display: block;
        float: left;
    }
}

#slides {
    width: 100%;
    height: 100%;
    img {
        max-height: 600px;
    }
}

.slide {
    width: 100%;
    height: 100%;
    max-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (min-width: 1200px) {
        max-height: 600px;
    }
    @media screen and (min-width: 1200px) {
        max-height: 700px;
    }
}

.holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    margin-top: -108px;
}

.caption {
    width: 39%;
    min-height: 104px;
    float: left;
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 33px;
    padding: 5px 30px;
    color: $maroon;
    min-height: 104px;
    z-index: 1000;
    background-color: $yellow;
    justify-content: flex-start;
}

.play {
    width: 120px;
    padding: 10px;
    float: right;
    background: #f8d905;
    color: #127f93;
    font-size: 100px;
    text-align: center;
}

.play img {
    margin-top: -60px;
}

#arrowHolder {
    z-index: 1000;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.landingPage {
    padding-top: 35px;
}

#about,
#neworleans-page {
    width: 100%;
    height: 100%;
    background-image: url('../img/about_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    overflow: hidden;
    @media only screen and (max-width: 468px) {
        background-size: cover;
    }
}

#neworleans-page {
    background-image: url('../img/neworleans/new-orleans-page-1.jpg');
}

#about .cap,
#neworleans-page .cap {
    color: #f8d905;
    margin-top: 100px;
    font-family: "PMNCaeciliaW01-75Bold";
}

#neworleans-page .cap {
    margin-top: 600px;
    background: $gold;
    opacity: .8;
    padding: 20px 25px;
}

#about .main,
#neworleans-page .main {
    font-family: Proxima Nova;
    font-size: 22.5px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    @media screen and (max-width: 468px) {
        margin-top: 20px;
    }
}

.main p {
    margin-bottom: 0;
    font-family: $slab-bold;
    font-size: 18px;
    @media screen and (min-width: 768px) {
        font-size: 32px;
    }
}

#neworleans-page .cap p {
    color: #000;
    font-size: 30px;
}

.nola-info-all {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 55px;
    h4 {
        color: $coral;
    }
}

.nola-info {
    display: block;
}

.main a {
    color: #fff !important;
}

.set-the-world-on-fire,
.meet-your-neighbors {
    font-family: FaithAndGloryTwo;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    @media screen and (min-width: 1000px) {
        margin-top: 140px;
    }
    display: inline-block;
}

.text-style-1 {
    font-family: FaithAndGloryOne;
    font-size: 48px;
    @media screen and (min-width: 1200px) {
        font-size: 96px;
    }
    line-height: 0.87;
    letter-spacing: 1.3px;
}

.nopadding {
    padding-left: 0;
    padding-right: 0;
}

.col-xs-12 {
    // using this for the small version of some sections to remove the gutters
    // only for small in conjunction with .nopadding class below... extending itself (to include original col-xs-12 bootstrap ~mj)
    //@extends .col-xs-12;
    &.nopadding {
        padding-left: 0;
        padding-right: 0;
    }
    @media screen and (max-width: 468px) {
        &.addPadding {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.full-width-bg {
    width: 100%;
    height: auto;
    float: left;
    background: url('../img/background-campus-life.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#colleges-programs {
    width: 100%;
    height: auto;
    &.featuredSection {
        background-color: #fff;
    }
    .colleges {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }
    .colleges-programs-holder {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (min-width: 1200px) {
            flex-direction: row;
        }
    }
    .college {
        background-repeat: no-repeat; // so no repeating of backgrounds by accident ~mj
        background-size: cover;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-end;
        float: left;
        position: relative;
        @media screen and (max-width: 1200px) {
            height: 400px;
        }
        h2 {
            color: #fff !important;
        }
        h4 {
            background-color: $coral;
            color: #fff;
            text-align: center;
            align-self: flex-end;
            align-content: center;
            font-size: 1.625em;
            font-family: $slab-light, serif;
            font-weight: 300;
            min-height: 60px;
            margin: 0;
            padding: .75em .5em;
            width: 100%;
            position: relative;
            font-size: 23px;
            justify-content: center;
            align-items: center;
            display: flex;
            @media screen and (min-width: 1200px) {
                font-size: 1em;
            }
            @media screen and (min-width: 1000) {
                font-size: 1.25em;
                min-height: 85px;
            }
            @media screen and (min-width: 1450px) {
                font-size: 1.625em;
                /* 26/16 */
                min-height: 96px;
            }
            &:hover {
                background-color: $yellow;
                color: $coral;
                transition: background-color .75s ease;
            }
        }
    }
}

.highlights_and_such {
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-self: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
    h3 {
        font-family: $slab-light;
        padding: 0;
        font-size: 48px;
        @media screen and (min-width: 1200px) {
            font-size: 68px;
        }
        @media screen and (max-width: 468px) {
            text-align: center;
        }
    }
    h4 {
        margin: 15px 0;
        @media screen and (min-width: 1200px) {
            margin: 0;
        }
        a {
            text-decoration: none;
            justify-content: space-between;
            display: flex;
            &:hover {
                color: #fff;
            }
        }
    }
}

.all_programs {
    align-content: center;
    padding: 12px 15px;
    background: $gold;
    margin-right: 25px;
    a {
        color: $maroon;
        &:after {
            background-image: url('../img/svg/arrow-right-coral.svg');
            background-repeat: no-repeat;
            background-position: center center;
            width: 30px;
            height: 26px;
            content: ' ';
            display: inline-block;
            background-size: 100%;
            padding-left: 15px;
        }
    }
}

#academics {
    background-image: url('../img/academic_back.jpg');
    background-position: 64%;
    background-repeat: no-repeat;
    padding: 25px 0;
    @media screen and (min-width: 1200px) {
        background-position: 100%;
        padding: 45px 0;
    }
}

.big-school-feel {
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    text-align: left;
    color: #fff;
    margin: 0;
    font-family: FaithAndGloryTwo;
    font-size: 28px;
    @media screen and (min-width: 768px) {
        font-size: 46px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 96px;
    }
}

#academics .cap,
#admissions .cap,
#campusLife .cap,
#newOrleans .cap {
    margin-top: 100px;
    color: #f8d905;
    font-family: "PMNCaeciliaW01-75Bold";
}

#academics .main,
#admissions .main,
#campusLife .main,
#newOrleans .main,
#myVideo .main {
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    margin-top: 30px;
    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }
}

.action {
    width: 100%;
    max-width: 543px;
    padding: 10px;
    ul {
        list-style-type: none;
        padding: 0px;
        margin-top: 5px;
        @media screen and (min-width: 768px) {
            margin-top: 25px;
        }
        li {
            font-family: "PMNCaeciliaW01-75Bold";
            font-size: 28px;
            padding-bottom: 10px;
            padding-top: 10px;
            padding-right: 0;
            border-bottom: 2px solid #f8d905;
            white-space: nowrap;
            background: url('../img/smallPlay.png') no-repeat 98% 10px;
            transition: all .25s;
            a {
                color: #fff;
                text-decoration: none;
                width: 100%;
                display: block;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        li:hover {
            background: url('../img/smallPlay.png') no-repeat 99% 10px;
            background-color: rgba(255, 255, 255, 0.25);
            padding-left: 10px;
        }
    }
}

#loynoFacts {
    width: 100%;
    height: auto;
    background-color: #fff;
    float: left;
    padding: 45px 0 50px;
    @media screen and (min-width: 1200px) {
        padding: 85px 0 50px;
    }
    .theFacts {
        margin: 0;
        padding-left: 0;
        @media only screen and (max-width: 468px) {
            padding: 0;
            text-align: center;
        }
        & span.fa {
            font-size: 96px;
        }
        & span {
            font-size: 1.5em;
        }
        .icon {
            width: 100%;
            height: auto;
            &.people {
                width: 133px;
                height: 122px;
                max-width: 100%;
            }
            &.earth {
                width: 131px;
                height: 131px;
            }
            &.city {
                height: 42px;
                max-height: 100%;
            }
        }
        h2 {
            font-family: "PMNCaeciliaW01-75Bold";
            font-size: 70px;
            height: 35%;
        }
        h3 {
            font-family: "PMNCaeciliaW01-45Light";
            font-size: 1em;
            line-height: 1.5;
            height: 50%;
            width: 80%;
            text-align: center;
        }
        .svg-bg {
            background-size: cover;
            width: 110px;
            height: 110px;
            display: inline-block;
        }
        .briefcase {
            background-image: url('../img/svg/Fact_1_Career.svg');
        }
        .globe {
            background-image: url('../img/svg/Fact_2_Abroad.svg');
        }
        .users {
            background-image: url('../img/svg/Fact_3_Experiential.svg');
        }
        .trophy {
            background-image: url('../img/svg/Fact_4_Fulbright_2.svg');
        }
        .diploma {
            background-image: url('../img/diploma_icon.png');
        }
        .race-class {
            background-image: url('../img/svg/Fact_5_RaceClass_2.svg');
        }
        .peace-corps {
            background-image: url('../img/svg/Fact_6_PeaceCorps.svg');
        }
        .university {
            background-image: url('../img/svg/Fact_7_President_Honor.svg');
        }
        .money {
            background-image: url('../img/svg/Fact_8_Value.svg');
        }
        .graduation-cap {
            background-image: url('../img/svg/Fact_9_RegionalUniversities.svg');
        }
        .catholic-college {
            background-image: url('../img/svg/Fact_10_CatholicCollege.svg');
        }
        .brainpower {
            background-image: url('../img/svg/Fact_11_BrainPower.svg');
        }
        .plane {
            background-image: url('../img/svg/Fact_12_MillenialMoving.svg');
        }
    }
}

.numberFact {
    font-size: 28px;
    @media screen and (min-width: 768px) {
        font-size: 40px;
    }
}

.photo-based {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 1em;
    @media screen and (min-width: 1200px) {
        padding: 50px 0 0 25px;
    }
    .col-md-2 {
        @media only screen and (max-width: 468px) {
            display: none;
        }
    }
}

.photo-hover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    h3 a {
        font-weight: 200;
        color: #fff;
    }
    .photo-quote {
        font-size: 1em;
        color: #fff;
        &.fa-long-arrow-right:before {
            font-size: 50px;
            color: #fff;
        }
        &.name {
            font-size: 1.5em;
        }
    }
}

.facts-carousel,
.college-carousel,
.future-carousel,
.pack-carousel {
    @media screen and (min-width: 1200px) {
        left: 2%;
    }
}

.slider-carousel {
    background-color: $maroon;
    margin: 0;
    padding: 0;
    .carousel-cell {
        padding: 0;
        width: 100%;
        margin-right: 0;
        img {
            min-height: 222px;
            display: block;
            height: auto;
            width: 100%;
            @media screen and (max-width: 520px) {
                max-height: 300px; //margin-left: 45%;
                position: relative;
                object-fit: cover;
            }
            @media screen and (min-width: 768px) {
                display: block;
                max-width: 100%;
                width: 100%;
                height: auto;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }
    }
    .carousel-caption {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        color: $maroon;
        font-size: 12px;
        @media screen and (min-width: 420px) {
            font-size: 14px;
        }
        font-weight: 500;
        font-family: $slab-bold;
        text-align: left;
        background-color: $gold;
        text-shadow: none;
        border-radius: 0;
        padding: 5px 10px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        @media screen and (min-width: 520px) {
            padding: 15px;
        }
        @media screen and (min-width: 768px) {
            font-size: 1.35em;
            padding: 22px 40px;
            left: -5px;
            bottom: -5px;
            border-radius: 0;
        }
    }
    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next {
        top: 94%;
        background-color: $gold;
        color: $maroon;
        padding: 25px;
        display: none;
        border-radius: 0;
        @media screen and (min-width: 1200px) {
            display: block;
        }
        .arrow {
            fill: $maroon;
        }
    }
    .flickity-prev-next-button.previous {
        left: 87%;
    }
    .flickity-prev-next-button.next {
        right: 2%;
    }
    .flickity-page-dots {
        display: block;
        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}

.facts-carousel {
    .flickity-page-dots {
        bottom: -8px;
    }
}

.college-carousel {
    margin-top: 25px;
    .carousel-cell {
        height: 450px;
        @media screen and (min-width: 768px) {
            height: 628px;
        }
        h2 {
            color: #fff !important;
        }
        h4 {
            background-color: $coral;
            color: #fff;
            text-align: center;
            align-self: flex-end;
            align-content: center;
            font-size: 1.625em;
            font-family: $slab-light, serif;
            font-weight: 300;
            min-height: 60px;
            margin: 0;
            padding: .75em .5em;
            width: 100%;
            position: absolute;
            bottom: 0;
            font-size: 23px;
            justify-content: center;
            align-items: center;
            display: flex;
            @media screen and (min-width: 1200px) {
                font-size: 1em;
            }
            @media screen and (min-width: 1000) {
                font-size: 1.25em;
                min-height: 85px;
            }
            @media screen and (min-width: 1450px) {
                font-size: 1.625em;
                min-height: 96px;
            }
            &:hover {
                background-color: $yellow;
                color: $coral;
                transition: background-color .75s ease;
            }
        }
    }
    figure {
        background-color: #fff;
        background-position: center 25%;
        @media screen and (min-width: 768px) {
            background-position: top;
        }
        &:hover {
            // weird bleeding out of the background image so hide it on hover
            //background: none;
            //border-right: none;
            //border-bottom: none;
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #fff;
            }
            &+h4 {
                // same as with the bg image above
                //background-color: transparent;
                //transition: background-color .75 ease;
            }
        }
    }
    .business figure {
        background-image: url('../img/homepage/ProgramHighlights_Business.jpg');
    }
    .music figure {
        background-image: url('../img/homepage/ProgramHighlights_Music.jpg');
    }
    .digital-filmmaking figure {
        background-image: url('../img/homepage/ProgramHighlights_DigitalFilmMaking.jpg');
        background-position: 100%;
    }
    .mass-comm figure {
        background-image: url('../img/homepage/ProgramHighlights_MassCommunication.jpg');
    }
    .comp-sci figure {
        background-image: url('../img/homepage/ProgramHighlights_ComputerScience.jpg');
    }
    .food-studies figure {
        background-image: url('../img/homepage/ProgramHighlights_FoodStudies.jpg');
    }
}

.featuredSection {
    width: 100%;
    height: auto;
    float: left;
    background-color: $gold;
    padding: 25px 0;
    @media screen and (min-width: 1200px) {
        padding: 50px 0;
    }
    h3 {
        padding: 0;
        font-family: "PMNCaeciliaW01-45Light";
        font-size: 2em;
        color: #000;
        @media screen and (min-width: 1200px) {
            font-size: 4em;
        }
    }
    p {
        line-height: 1.5;
        font-family: "PMNCaeciliaW01-45Light";
        font-size: 16px;
        color: #000;
        @media screen and (min-width: 1200px) {
            font-size: 1.5em;
        }
    }
}

#seeYourFuture {
    @media screen and (min-width: 1200px) {
        padding: 100px 0 100px 25px;
    }
    .theFuture {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 468px) {
            flex-direction: column;
            padding: 0;
            text-align: center;
            margin-bottom: 0;
        }
        li {
            flex-basis: 320px;
            flex-grow: 0;
            justify-content: center;
            list-style-type: none;
            img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
            @media only screen and (max-width: 468px) {
                margin-bottom: 10px;
            }
            margin-bottom: 27px;
        }
    }
}

#heartOfPack {
    width: 100%;
    height: auto;
    float: left;
    background-color: $gold;
    h4 {
        font-size: 1em;
        @media screen and (min-width: 1200px) {
            font-size: 1.5em;
        }
    }
    .col-md-2 {
        @media only screen and (max-width: 468px) {
            display: none;
        }
    }
    .pack-hover-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2em 1.25em;
        a {
            color: #fff;
            text-decoration: none;
            text-align: center;
            &:hover {
                text-decoration: none;
            }
        }
        h4 {
            font-weight: 200;
            color: #fff;
            font-size: 20px;
        }
        .pack-quote {
            font-size: 14px;
            color: #fff;
            font-weight: 600;
        }
    }
    #thePack {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media only screen and (max-width: 468px) {
            flex-direction: column;
            padding: 0;
            text-align: center;
        }
        li {
            flex-basis: 320px;
            flex-grow: 0;
            justify-content: center;
            list-style-type: none;
            img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
            @media only screen and (max-width: 468px) {
                margin-bottom: 10px;
            }
            margin-bottom: 27px;
        }
        a {
            color: #fff !important;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .carousel-cell {
        text-align: left !important;
    }
}

.nomargin {
    margin-right: 0px !important;
}

#humans {
    width: 100%;
    margin-top: 66px;
    text-align: center;
}

#admissions {
    background-image: url('../img/admissions_back.jpg');
    padding-bottom: 40px;
    padding: 1.5em;
}

#admissions .cap {
    margin-top: 258px;
    color: #f8d905;
    font-family: "PMNCaeciliaW01-75Bold";
}

#admissions2 {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background: #f8d905 no-repeat center;
}

#admissions2 .container {
    padding-top: 151px;
    padding-bottom: 151px;
}

#futureBox {
    margin-top: 50px;
}

.future {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.meet-your-neighbors {}

#campusLife .cap {
    margin-top: 240px;
}

#socialFeed {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
    padding: 45px 0 25px;
    @media screen and (min-width: 1200px) {
        padding: 85px 0 50px
    }
    h3 {
        color: #000;
        font-family: $slab-light;
        font-size: 45px;
        @media screen and (min-width: 1000px) {
            font-size: 60px;
        }
        margin-bottom: 20px;
    }
}

#socialFeed-container {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between; // will allow its children to grow successfully
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

#socialFeed .cap {
    margin-left: 0px !important;
}

#tweets {
    @media screen and (max-width: 1200px) {
        padding: 0;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        li.tweet:nth-child(n+2) {
            // hide 2nd tweet
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}

.tweet {
    height: auto;
    padding: 20px 15px 50px 15px;
    border: 2px solid #000;
    margin-bottom: 1em;
    position: relative;
    font-family: $slab-light;
    color: #000;
    &:last-child {
        @media screen and (min-width: 1000px) {
            margin-bottom: 0;
        }
    }
    .tweet_meta {
        font-family: $slab-light;
    }
    .tweet_time {
        font-size: 12px;
    }
    .twitter_real_name {
        font-weight: 700;
    }
    .twitter_handle {
        font-weight: 700;
        color: $maroon;
        text-decoration: none;
    }
    .tweet_text {
        color: #000;
        line-height: 1.5;
        font-family: $slab-light;
    }
    a {
        color: $maroon;
    }
}

.twitter_icon {
    background-image: url('../img/social/social-feed-twitter.png');
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-size: cover;
    font: 0/0 a;
    color: transparent;
}

.twitter_interact {
    margin-top: 25px;
    li {
        display: inline;
        margin-right: 8px;
        a {
            display: inline-block;
            color: #000;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 32px;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: $coral;
            }
        }
    }
}

#instagram {
    color: #000;
    @media screen and (max-width: 1200px) {
        padding: 0;
    } // don't need to put plex on tweets since this is the one that needs to grow
}

.instagram-posts {
    font-family: $slab-light;
    height: auto;
    padding: 20px 15px;
    border: 2px solid #000;
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
    .ig-username {
        font-weight: 700;
        padding-right: 4px;
        text-decoration: none;
        color: $maroon;
    }
    .ig-caption {
        line-height: 1.5;
        margin: 15px 0;
    }
    .ig-photo-meta {
        display: flex;
        width: 45%;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 700;
    }
    .ig-likes {}
    .ig-timestamp {}
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            &:first-child {
                margin: 0;
            }
            margin: 35px 0;
        }
    }
    img {
        max-width: 100%;
        max-height: 300px;
        display: block;
        margin: 0 auto;
    }
}

.instagram_icon {
    background-image: url(../img/social/social-feed-instagram.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-size: cover;
    font: 0/0 a;
    color: transparent;
}

#feedHolder {
    text-align: left;
}

#campusLife {
    background-image: url('../img/Background_Campus.jpg');
}

#newOrleans {
    padding: 25px 0;
    background-image: url('../img/homepage/Background_Campus.jpg');
    @media screen and (min-width: 1200px) {
        height: auto;
        padding: 45px 0;
    }
}

#map {
    width: 100%;
    height: 600px;
}

.ajcu {
    @media screen and (min-width: 1200px) {
        float: right;
    }
}

.campus_circle {
    width: 250px;
    background: #e5554f;
    border-radius: 125px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    height: 250px;
    p {
        position: relative;
        max-width: 100%;
        padding: 0 15px;
    }
}








/*-----------------mobileandtabletstuff-------------------------------*/

@media screen and (max-width: 1000px) {
    #futureBox {
        margin-top: 50px;
        text-align: center;
    }
    .future {
        float: none !important;
        margin: 0 auto;
        margin-right: 10px;
        margin-top: 10px;
    }
    #about2 .container {
        padding-top: 40px;
        max-width: 1450px;
        width: 100%;
    }
    #search {
        white-space: nowrap;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    #search input[type="text"] {
        background: #f8d905;
        border: 0;
        width: 75%;
        color: $grey;
        text-transform: uppercase;
    }
    #search span {
        color: #660000;
        font-size: 22px;
        padding-left: 10px;
    }
    #subnav {
        width: 200px;
        margin-left: 0px;
    }
    #subnav li {
        font-size: 21px !important;
        list-style-type: none;
        color: #84817d;
        text-align: left !important;
        white-space: nowrap;
        float: left;
        width: 300px;
        margin-left: 0px !important;
        margin-bottom: 15px;
    }
    #subnav .item {
        float: left;
        width: 250px;
        color: #84817d;
        padding-right: 10px;
    }
    #subnav li img {
        float: left;
        margin-top: 3px;
        width: 20px;
    }
    .cap h1 {
        font-size: 30px !important;
    }
    #mobileNav {
        display: block;
        min-height: 50px;
        padding: 1em;
        border-bottom: 3px #660000 solid;
    }
    #desktopNav {
        display: none;
    }
    .cap {
        margin-top: 40px !important;
    }
    .title {
        font-size: 30px !important;
        color: #000 !important;
    }
    .action ul li {
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 16px;
        padding: 10px 0;
        border-bottom: 2px solid #f8d905;
        white-space: nowrap;
        background: url('../img/smallPlay.png') no-repeat 100% 3px;
        margin-top: 4px;
    }
    #about {
        height: auto;
    }
    .fact {
        float: none !important;
        height: 320px;
        margin: 0 auto !important;
        margin-bottom: 127px;
        max-width: 450px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        @media screen and (min-width: 1200px) {
            width: 25%;
        }
        text-align: center;
        align-items: center;
        float: left;
    }
    #admissions2 .container {
        padding-top: 40px;
        padding-bottom: 151px;
    }
    .people {
        max-width: 315px;
        width: 100%;
        height: 316px;
        margin-right: 0px !important;
        float: none !important;
        cursor: pointer;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
    #admissions {
        width: 100%;
        height: auto;
        background: url('../img/admissions_back.jpg') no-repeat;
        background-position: bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            background-position: top;
        }
    }
    #campusLife {
        width: 100%;
        height: auto;
        background: url('../img/campus_back.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            background-position: top;
        }
    }
    #newOrleans {
        width: 100%;
        height: auto;
        background: url('../img/tree.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        @media screen and (max-width: 1200px) {
            background-position: top;
        }
    }
    #navContainer {
        text-align: center;
        float: none !important;
        display: block;
    }
    #header {
        width: 100%;
        display: none;
        background: #fff;
        padding-top: 10px;
        text-align: center;
        position: static;
        z-index: 2000;
        top: 0;
    }
    #logo img {
        margin: 0 auto;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    nav ul li {
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 18px;
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
        padding-left: 0px;
        color: #660000;
        list-style-type: none;
        text-transform: uppercase;
        margin: 10px 0;
    }
    .people img {
        width: 100%;
    }
    .caption {
        max-height: 100px;
        float: left;
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 1em;
        background: #f8d905;
        padding: 20px;
        color: #660000;
    }
    .play {
        display: none;
    }
}








/*-------------landing page styles----------*/

.lightyellow {
    background: #fbe869;
}

.lightblue {
    background: #d0ffff;
}

.landhead {
    width: 270px !important;
    background: #fff;
    /*padding-top: 10px;*/
    position: fixed;
    z-index: 2000;
}

.yellowback {
    background: #b1ffff;
    background: #f8d905;
}

.blueback {
    background: #b1ffff;
}

.landcontainer {
    min-height: 100px;
    position: relative;
    padding-bottom: 100px;
    top: 150px;
    left: 150px;
}

.landcontainer .title {
    font-size: 60px;
    color: #000;
    margin-left: 15px;
}

.landcol {
    min-height: 100px;
    align-self: flex-start;
    @media screen and (max-width: 520px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.landbox {
    margin-bottom: 25px;
    padding-left: 0;
    @media screen and (max-width: 520px) {
        padding-right: 0;
    }
    h4 {
        font-family: $slab-bold;
        font-size: 28px;
        color: #000;
    }
    h5 {
        color: #000;
        margin: 15px 0;
    }
    p {
        font-family: $slab-bold;
        max-width: 450px;
        margin-bottom: 30px;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            font-family: $slab-bold;
            font-size: 16px;
            left: 0;
            list-style-type: none;
            color: #620003;
            padding: 15px 0;
            border-bottom: 3px solid #620003;
            transition: all .2s;
            @media screen and (min-width: 1200px) {
                font-size: 20px;
            }
            @media screen and (min-width: 1200px) {
                padding: 10px 0;
            }
            &:after {
                content: url('../img/smallPlayRed.png');
                display: inline-block;
                float: right;
                position: relative;
                margin-top: -32px;
                z-index: -99;
                transition: all .2s;
                left: 0;
            }
            a {
                display: inline-block;
                width: 100%;
                color: #620003;
                text-decoration: none;
                position: relative;
                z-index: 99;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        li:hover {
            padding-left: 10px;
        }
        li:hover:after {
            left: 10px;
        }
    }
}

#landingbottom {
    background-color: $orangeRed;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
    .landbox {
        margin: 0 auto;
        padding: 25px 0 35px;
        ul {
            li {
                border-bottom: 3px solid #fff;
                font-size: 18px;
                @media screen and (min-width: 1200px) {
                    font-size: 24px;
                }
                &:after {
                    content: url('../img/smallPlayRed.png');
                    display: inline-block;
                    float: right;
                    position: relative;
                    margin-top: -34px;
                    z-index: 25;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    p {
        max-width: none;
    }
}

#landingtop {
    @extend #landingbottom;
    background-color: $gold;
    .landbox {
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                border-bottom: 3px solid $maroon;
                width: 100%;
                position: relative;
                @media screen and (min-width: 1024px) {
                    width: 48%;
                }
                display: flex;
                flex-direction: row;
                &:after {
                    margin-top: 0; //width: 35px;
                    //height: 35px;
                    position: absolute;
                    right: 10px;
                    left: auto;
                }
                a {
                    color: $maroon;
                }
            }
            li:hover:after {
                right: 0;
            }
        }
    }
}

#directory,
#search-page {
    #landingtop {
        .container {
            padding: 50px 0;
            width: 860px;
            h3 {
                font-family: "PMNCaeciliaW01-45Light";
                font-size: 50px;
            }
            input {
                border: none;
                font-weight: bold;
            }
            input[type=submit],
            input[type=radio] {
                background-color: $coral;
                color: #fff;
            }
            input:focus {
                border: 1px solid rgba(229, 85, 79, 1);
                box-shadow: 0 0 5px rgba(229, 85, 79, 1);
                outline: none;
            }
        }
    }
    .landingSection {
        .container {
            h3,
            dt {
                color: $maroon;
            }
            a {
                color: $red;
                font-weight: bold;
            }
            p {
                margin-bottom: 0;
            }
            li {
                margin-bottom: 10px;
            }
        }
    }
}








/*------text--------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PMNCaeciliaW01-75Bold";
}

#admissions2 p {
    font-family: 'Proxima N W01 Light';
    font-size: 24px;
    margin-top: 40px;
}

.title {
    font-size: 60px;
    color: #000;
}

.future .cover p {
    font-size: 30px !important;
    margin: 0px !important;
    padding: 0px !important;
}

.faithLogo,
.ajcuLogo {
    height: 104px;
    margin-bottom: 25px;
    @media screen and (min-width: 1200px) {
        margin: 0 auto;
    }
}

footer {
    background-color: #620003;
    color: #fff;
    width: 100%;
    padding: 54px 0;
    float: left;
    @media screen and (max-width: 1200px) {
        padding: 27px 0;
    }
    img {
        @media screen and (min-width: 1200px) and (max-width: 1200px) {
            max-width: 35%;
            margin: 0 auto;
        }
        @media screen and (max-width: 1200px) {
            display: block;
            text-align: left; // center only at tablet and smaller size
            //margin: 0 auto 15px;
        }
    }
    .footer-copy {
        color: #fff;
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: 'Proxima N W01 Light';
        font-size: 14px;
        text-align: left;
        margin: 0;
        @media screen and (min-width: 1200px) {
            font-size: 1em;
            padding: 0;
            text-align: left;
        }
        p {
            margin-bottom: 0;
        }
    }
}

footer .container-fluid {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.footerLogos {
    @media screen and (min-width: 1024px) {
        padding: 0;
    }
}

footer {
    a {
        color: #fff;
        font-family: proxima-nova, sans-serif;
        font-style: normal;
        font-weight: 600;
        &:hover {
            color: $gold;
        }
    }
    a.emergency_info {
        color: $gold;
    }
}

footer a img {
    text-decoration: none;
    border: none;
    max-width: 200px;
    display: block;
    @media screen and (min-width: 960px) {
        max-width: 225px;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover {
        text-decoration: none;
    }
    &.loynoLogo {
        max-width: 175px;
        margin: 0;
    }
}

.bottomFooter {
    justify-content: flex-start;
    margin-top: 25px;
    text-align: left;
    @media screen and (min-width: 1024px) {
        margin-top: 50px;
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        margin: 0;
    }
    ul li a {
        font-size: 14px;
    }
    div {
        &:nth-child(n+2) {
            h5 {
                @media screen and (max-width: 768px) {
                    margin-top: 15px;
                }
            }
        }
    }
}

.wider {
    @media screen and (min-width: 768px) {
        width: 19%;
    }
}

.blank {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.flexslider {
    margin: 0;
}

.flexslider .slide {}

.img-responsive {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.flex-nav-prev,
.flex-nav-next {
    display: inline;
}

.flex-next {
    right: 0;
}

.flex-prev {
    left: 0;
}

.flex-direction-nav a {
    overflow: hidden;
    opacity: 1;
    background-color: $gold;
    color: $maroon;
    width: 75px;
    height: 75px;
}

.lSSlideOuter .lSPager.lSpg {
    display: none;
}

.lSAction>a {
    top: 25%;
    margin-top: 0;
    background-image: none;
    width: auto;
    opacity: 1;
    &.lSPrev {
        &:before {
            content: '<';
            width: 50px;
            height: 50px;
            color: $maroon;
            font-weight: 500;
            display: block;
            font-size: 4em;
        }
    }
    &.lSNext {
        &:before {
            content: '>';
            width: 50px;
            height: 50px;
            color: $maroon;
            font-weight: 500;
            display: block;
            font-size: 4em;
        }
    }
}

.carousel-cell {
    font-family: $slab-bold;
    min-height: 280px;
}

* {
    box-sizing: border-box;
}

// ---- VIDEO STUFF -- //
.videoText {
    z-index: 200;
    position: relative;
}

#video {
    width: 100%;
    min-height: 750px;
    background-image: url('../img/homepage/Background_Home_Admissions.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: 420px) {
        background-image: url('../img/homepage/Background_Home_Admissions.jpg');
        background-position: top;
    }
    @media screen and (min-width: 1200px) {
        background-image: url('../img/homepage/Background_Home_Admissions.jpg');
    }
    video {
        display: block;
    }
}

.headingLine {
    display: block;
}

.videoPlayer {
    width: 100%;
    height: auto;
    max-height: 735px;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .overlay {
        width: 92%;
        position: absolute;
        z-index: 1;
        padding: 12px 0;
        @media screen and (min-width: 960px) {
            padding: 45px 0;
        }
    }
}

.bg-video {
    background-image: url('../img/homepage/Background_Home_Admissions.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    z-index: -1;
    padding-bottom: 56.25%;
    min-height: 415px;
    height: auto;
    @media screen and (min-width: 420px) {
        background-image: url('../img/homepage/Background_Home_Admissions.jpg');
        background-position: top;
    }
}

.bg-video iframe,
.bg-video object,
.bg-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-video #player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
    }
}

// LANDING PAGES //
#body-wrap-lp {
    display: block;
    ul {
        margin-bottom: 25px;
    }
}

.landingSection {
    padding: 35px 0;
    float: left;
    width: 100%;
    color: #000;
    z-index: 9899; // fix overlay issue of being on top of sections
    h2 {
        margin: 25px 0;
        font-size: 32px;
        font-family: $slab-light;
        @media screen and (min-width: 1024px) {
            font-size: 56px;
        }
    }
    p {
        font-size: 18px;
    }
}

.hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    color: #fff;
    @media screen and (min-width: 768px) {
        height: 100vh;
        padding: 0;
    }
    @media (min-width: 1024px) {
        width: 100%;
        background-attachment: fixed;
    }
    h2 {
        margin: 0 0 30px;
        @media screen and (min-width: 768px) {
            margin: 45px 0 65px;
        }
    }
    p {
        font-size: 18px;
        line-height: 1.5;
        text-shadow: 0px 1px #333;
        @media screen and (min-width: 768px) {
            font-size: 27px;
        }
        @media screen and (max-width: 768px) {
            text-shadow: 0px 1px #333;
        }
    }
}

#landing-neworleans {
    width: 100%;
    color: #fff;
    &.hero {
        background-image: url('../img/landingpages/neworleans/NewOrleans_01.png');
        background-position: center top;
    }
}

#whiteOverlay {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
    background-color: #fff;
    opacity: 0.0;
    position: absolute;
    top: 0;
    width: 100%;
}

.arrow_more {
    margin: 15px auto 0;
    font-size: 72px;
    width: 80px;
    height: 80px;
    display: none;
    @media screen and (min-width: 1024px) {
        display: block;
        margin-top: 45px;
    }
}

#thingsToDo {
    display: flex;
    padding: 25px 0;
    @media screen and (min-width: 1024px) {
        padding: 50px 0;
    }
    p {
        font-size: 18px;
    }
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.card {
    background-color: transparent;
    border: none;
}

.card-header {
    padding-left: 0;
    border: none;
    border-bottom: 2px $gold solid;
    background-color: transparent;
    font-size: 20px;
    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
    font-family: $slab-bold;
    color: $coral;
    &:after {
        content: ' ';
        width: 30px;
        height: 30px;
        @media screen and (min-width: 768px) {
            width: 40px;
            height: 40px;
        }
        right: 0;
        display: inline-block;
        background-image: url('../img/open2.png');
        background-size: 100%;
        transform: rotate(0deg);
        transition: all 1s ease;
        position: absolute;
    }
    &.opening {
        &:after {
            content: ' ';
            width: 30px;
            height: 30px;
            @media screen and (min-width: 768px) {
                width: 40px;
                height: 40px;
            }
            right: 0;
            display: inline-block;
            background-image: url('../img/open2.png');
            background-size: 100%;
            position: absolute;
            transform: rotate(405deg);
            transition: all 1s ease;
        }
    }
}

.card-block {
    padding-left: 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @extend .col-md-11;
        li:nth-child(n+4) {
            // will hide 4th and on items
            display: none;
        }
    }
    h6 {
        font-weight: 600;
        text-transform: uppercase;
    }
}

.stats {
    font-family: $slab-light;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    @media screen and (max-width: 1024px) {
        flex-direction: row;
    }
    @media screen and (min-width: 1024px) {
        margin-top: 25px;
        justify-content: center;
    }
    .stat {
        text-align: center;
        padding: 15px 0;
        font-weight: 700;
        flex-basis: 48%;
        align-self: baseline;
        @media screen and (min-width: 1024px) {
            padding: 15px;
            align-self: center;
        }
        span {
            font-size: 56px;
            @media screen and (min-width: 1024px) {
                font-size: 90px;
            }
        }
        .svg-bg {
            background-size: cover;
            width: 110px;
            height: 110px;
            max-width: 100%;
            display: inline-block;
        }
        .lightbulb {
            background-image: url('../img/svg/Fact_About_CreativeProfessionals.svg');
        }
        .regional {
            background-image: url('../img/svg/Fact_About_RegionalSouth.svg');
        }
        .diploma {
            background-image: url('../img/svg/Fact_AcademicLanding_Fulbright.svg');
        }
        .users {
            background-image: url('../img/svg/Fact_Academic_10to1.svg');
        }
        .money {
            background-image: url('../img/svg/Fact_Admission_Value.svg');
        }
        .university {
            background-image: url('../img/svg/Fact_Admission_FinAid.svg');
        }
        .experiential {
            background-image: url('../img/svg/Fact_CampusLife_Experiential.svg');
        }
        .clubs {
            background-image: url('../img/svg/Fact_CampusLife_Club.svg');
        }
        .catholic-college {
            background-image: url('../img/svg/Fact_Jesuit_Catholic.svg');
        }
        .peace-corps {
            background-image: url('../img/svg/Fact_Jesuit_PeaceCorps.svg');
        }
    }
}

#cityGuide {
    figure {
        background-size: cover;
    }
}

.nola-tech figure {
    background: url('../img/landingpages/neworleans/CityGuide_TechScene.jpg');
}

.nola-food figure {
    background: url('../img/landingpages/neworleans/CityGuide_FoodScene.jpg');
}

.nola-music figure {
    background: url('../img/landingpages/neworleans/CityGuide_MusicScene.jpg');
}

.nola-sports figure {
    background: url('../img/landingpages/neworleans/CityGuide_SportsScene.jpg');
}

.nola-neighborhood figure {
    background: url('../img/landingpages/neworleans/CityGuide_NeighborhoodScene.jpg');
}

.startExploringBanner {
    min-height: 200px;
    width: 100%;
    float: left;
    background: url('../img/landingpages/neworleans/StartExploringGrx.png') no-repeat center;
    background-size: 95%;
    @media screen and (min-width: 1024px) {
        background-size: contain;
    }
}

#comeOnDown {
    color: #fff;
    min-height: 450px;
    background: url('../img/landingpages/neworleans/NewOrleans_02.jpg') no-repeat center;
    background-size: cover;
    @media screen and (min-width: 1200px) {
        height: 600px;
    }
    p {
        font-size: 18px;
        @media screen and (min-width: 1024px) {
            font-size: 29px;
        }
    }
}

#landing-campuslife {
    &.hero {
        background-image: url('../img/landingpages/CampusLife_01.jpg');
        background-position: center top;
        @media screen and (min-width: 768px) {
            background-image: url('../img/landingpages/CampusLife_01_fade.jpg');
        }
    }
}

#landing-about {
    &.hero {
        background-image: url('../img/landingpages/About_02.jpg');
        background-position: center top;
        @media screen and (min-width: 768px) {
            background-image: url('../img/landingpages/About_02_fade.jpg');
        }
    }
}

#landing-jesuit {
    &.hero {
        background-image: url('../img/landingpages/JesuitIdentity_01.jpg');
        background-position: right center;
        @media screen and (min-width: 768px) {
            background-image: url('../img/landingpages/JesuitIdentity_01_fade.jpg');
        }
        p {
            text-shadow: none;
            font-weight: bold;
        }
    }
}


#landing-admissions {
    &.hero {
        background-image: url('../img/landingpages/Admissions_01.jpg');
        background-position: center top;
        @media screen and (min-width: 768px) {
            background-image: url('../img/landingpages/Admissions_01_fade.jpg');
        }
    }
}

#landing-academics {
    &.hero {
        background-image: url('../img/landingpages/Academics_01.jpg');
        background-position: center top;
        @media screen and (min-width: 768px) {
            background-image: url('../img/landingpages/Academics_01_fade.jpg');
        }
    }
}

#landing-transportSafety {
    &.hero {
        background-image: url('../img/landingpages/Background_HousingMap_Mobile.jpg');
        background-position: bottom center;
        background-attachment: scroll;
        @media screen and (min-width: 768px) {
            height: 140vh;
            background-image: url('../img/landingpages/Background_HousingMap.jpg');
        }
    }
    .more {
        font-size: 20px;
        font-family: "PMNCaeciliaW01-75Bold";
        @media screen and (min-width: 768px) {
            font-size: 26px;
        }
    }
}

#transportationPolicy {
    h5 {
        text-transform: uppercase;
    }
}

#safety {
    color: #fff;
    background-image: url('../img/landingpages/Background_CampusSecurity.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 450px;
    @media screen and (min-width: 1200px) {
        min-height: 600px;
    }
    #accordion {
        background-color: transparent;
        padding-top: 25px;
        .card-header,
        p {
            color: #fff;
        }
        p {
            font-size: 20px;
        }
    }
}

// Override the container width 
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: 960px;
    }
}

.active_page {
    &a {
        color: #fff;
    }
}

.honors {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
    .col-md-3,
    .col-md-9 {
        padding: 0;
    }
    .col-md-3 {
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }
    img {
        margin-bottom: 10px;
    }
}

#campusmap-pdf-link {
    float: right;
    display: inline;
    margin: 0 0 15px 15px;
    text-align: right;
    font-size: 14px;
}

#campus-map {
    // to override the campus-map.css file
    max-width: 100%;
}