//for the gMap
#map {
    #iw-container .iw-title {
        padding: 10px;
        background-color: #000;
        color: white;
        margin: 1px;
    }
    .gm-style-iw {
        width: 250px !important;
        max-width: 350px;
        height: auto;
        top: 0 !important;
        left: 0 !important;
        background-color: $gold !important;
        padding: 20px 15px 25px;
    }
    .infoheading {
        font-size: 1.75em;
        font-weight: 500;
        color: $maroon;
    }
    .infocontent {
        font-size: 1.25em;
        color: $maroon;
        line-height: 1.5;
    }
}
