.social-buttons {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 8px;
}

.social-buttons a {
    background: $maroon;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 2px 4px;
    overflow: hidden;
    width: 30px;
    margin-left: 10px;
    &:last-child {
        margin-left: 5px;
    }
}

.social-buttons a:hover {
    background: #fff;
    text-decoration: none;
    color: #000;
}

.social-buttons a:before {
    color: #fff;
    font-family: FontAwesome;
    content: "\f099";
    padding: 12px 9px;
}

.social-buttons .icon-fb:before {
    content: "\f09a";
}

.social-buttons a:hover:before {
    color: $maroon;
}
