
        <div id="heartOfPack" class="photo-based featuredSection hidden">

            <div class="container">
                <div class="col-md-12 col-xs-12 ">
                    <h3>Heart of the Pack</h3>
                    <p>
                        Meet some of our students. Learn about their days, their goals, their passions, their missteps – their lives. Catch glimpses of the humanity all around us, the spirit of our campus – unique, but kindred. Find yourself, and be yourself. Because in our hearts, we are all the same; we are all different; we are all part of the pack.</p>
                </div>

                <div class="col-md-12 col-xs-12">
                    <div class="pack-carousel thePack">

                        <div class="hovereffect carousel-cell">
                            <a href="http://heart.loyno.edu/student/ellie-diaz/">

                            <img class="img-responsive" src="./img/homepage/HeartofThePack_ElisaDiaz.jpg" alt="Elisa Diaz Photo">

                            <div class="overlay pack-hover-content">
                                <h4>Ellie Diaz, Political Science</h4>
                                <p class="pack-quote info">
                                    "This isn't something that I'm doing because I need a résumé boost. This is what I wanted to do&mdash;leave behind a legacy. But there's a deadline. There's a timeline of difference I can make."</p>
                                    
                            </div>
                            </a>
                        </div>

                        <div class="hovereffect carousel-cell">
                            <a href="http://heart.loyno.edu/student/eva-allen/">

                            <img class="img-responsive" src="./img/homepage/HeartofThePack_EvaAllen.jpg" alt="Eva Allen Photo">

                            <div class="overlay pack-hover-content">
                                <h4>Eva Allen, Advertising</h4>
                                <p class="pack-quote info">
                                    "I'm very stubborn, so sometimes I like to do things on my own. The Lotus blooms through murky water."</p>
                            
                            </div>
                            </a>
                        </div>

                        <div class="hovereffect carousel-cell">
                            <a href="http://heart.loyno.edu/student/antoine-barriere/">

                            <img class="img-responsive" src="./img/homepage/HeartofThePack_AntoineBarriere.jpg" alt="Antoine Barriere Photo">

                            <div class="overlay pack-hover-content">
                                <h4>Antoine Barriere, Music Industry Studies</h4>
                                <p class="pack-quote info">
                                    "I don't grieve for a long period of time. I feel it, and then I'm like, 'OK—my family's still going through it, and I'm going to help them get to where I am now.' But for that brief period of time, I listen to music. I have a playlist called 'Smooth'."</p>
                              
                            </div>
                            </a>
                        </div>

                        <div class="hovereffect carousel-cell">
                            <a href="http://heart.loyno.edu/student/aniya-robinson/">

                            <img class="img-responsive" src="./img/homepage/HeartofThePack_AniyaRobinson.jpg" alt="Aniya Robinson Photo">

                            <div class="overlay pack-hover-content">
                                <h4>A'Niya Robinson, Law</h4>
                                <p class="pack-quote info">
                                    "I learned it from my grandmother and my mother and my aunts: You've got to do the work. And a lot of times you won't get recognized for it or rewarded for it."</p> 

                            </div>
                            </a>
                        </div>

                        <div class="hovereffect carousel-cell">
                            <a href="http://heart.loyno.edu/student/kevin-fox/">

                            <img class="img-responsive" src="./img/homepage/HeartofThePack_KevinFox.jpg" alt="Kevin Fox Photo">

                            <div class="overlay pack-hover-content">
                                <h4>Kevin Fox, History</h4>
                                <p class="pack-quote info">
                                    "I've always really liked the idea of the force as just—the 'god is in all of us' idea: We all make up the universe."</p>
                                    

                            </div>
                            </a>
                        </div>

                        <div class="hovereffect carousel-cell">
                            <a href="http://heart.loyno.edu/student/brendan-dodd/">

                            <img class="img-responsive" src="./img/homepage/HeartofThePack_BrendanDodd.jpg" alt="Brendan Dodd Photo">

                            <div class="overlay coral pack-hover-content">
                                <h4>Brendan Dodd, Marketing</h4>
                                <p class="pack-quote info">
                                    "My dad passed away when I was 4. It gives me a reason to work toward something&mdash;he never saw me grow up, so I work to make him proud."</p>
                                    
                            </div>
                            </a>
                        </div>

                    </div><!-- end pack-carousel -->
                </div>

            </div>

        </div>
        <!--heartOfPack-->