html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

ul {
    margin: 0;
}

.parallax {
    min-height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
}

.bounce {
	    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-bottom: 20px;
}

#mobileNav {
    display: none;
}

.container {
    /*border: 1px solid #000;*/
}

video {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.more {
    font-size: 30px;
    text-decoration: underline;
}

.inner {
    text-align: center;
}

#video {
    width: 100%;
    height: 100%;
    min-height: 17.3125em;
    /* 277/16 */
    padding-bottom: 20px;
    background-image: url('img/hero-bg-desktop.jpg');


    overflow: hidden;
}

#video .inner {
    margin-top: 600px;
    position: relative;
    z-index: 200;
}

#video .inner img {
    margin: 0 auto;
}

#header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 2000;
}

#mobileNav {
    width: 100%;
}

#mobileNav i {
    color: #e55652;
    font-size: 40px;
}

#logo {
    width: 100%;
    max-width: 183px;
    float: left;
    margin-left: 44px;
    margin-top: 20px;
    z-index: 1000;
    border: 1px solid #000;
}

#mobLogo {
    margin-top: 0;
}

nav {
    max-width: 1200px !important;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    float: left;
    margin-top: 25px;
}

nav ul li {
    font-family: "PMNCaeciliaW01-75Bold";
    display: inline;
    font-size: 25px;
    color: #660000;
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li a {
    color: #660000 !important;
    text-decoration: none !important;
    padding: 28px;
    /*margin-right: 30px;*/
}

nav ul li a:hover {
    text-decoration: none;
    color: #660000;
    background: #f8d905!important;
    padding-bottom: 18px;
}

.active {
    text-decoration: none !important;
    color: #660000 !important;
    background: #f8d905 !important;
    padding-top: 27px;
    padding-bottom: 18px;
}

.fullwidth {
    width: 100%;
}

.giveNow {
    float: right;
    top: 0px;
    right: 0px;
    background: #660000;
    padding-top: 21px;
    padding-bottom: 32px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Proxima Nova W07 Semibold' !important;
    color: #660000;
    text-align: center;
    font-size: 16px;
}

.giveNow a {
    color: #b1ffff;
    position: relative;
    top: 10px;
}


/*---------sidemenu------------------*/

#sideMenu {
    position: absolute;
    max-width: 270px;
    width: 100%;
    padding: 15px;
    /*min-height: 384px;*/
    display: block;
    background: url(img/menuTile.png);
    top: 85px;
    z-index: 1000;
}

#sideMenu ul li {
    list-style-type: none;
    font-size: 29px;
    text-align: right;
    white-space: nowrap;
    font-family: 'Proxima Nova W07 Semibold';
}

#sidenav {
    max-width: 200px;
    width: 100%;
    float: left;
}

#sidenav li {
    list-style-type: circle;
    ;
    white-space: nowrap;
    width: 210px;
    height: 20px;
    color: #0c9fba;
    margin-bottom: 15px;
}

#sidenav .item {
    float: left;
    width: 170px;
    padding-right: 10px;
}

#sidenav li img {
    float: left;
    margin-top: 10px;
}

#subnav {
    width: 200px;
    margin-left: -50px;
}

#subnav li {
    font-size: 21px !important;
    list-style-type: none;
    color: #84817d;
    white-space: nowrap;
    float: left;
    width: 240px;
    margin-bottom: 15px;
}

#subnav .item {
    float: left;
    width: 220px;
    color: #84817d;
    padding-right: 10px;
}

#subnav li img {
    float: left;
    margin-top: 3px;
    width: 20px;
}

#search {
    white-space: nowrap;
    float: left;
    margin-bottom: 15px;
}

#search input[type="text"] {
    background: #f8d905;
    border: 0;
    width: 100%;
    margin-top: 10px;
    min-width: 170px;
}

#search i {
    color: #660000;
    font-size: 22px;
    padding-left: 10px;
}

.drop {
    float: left;
    display: none;
}

.drop ul {
    color: #660000 !important;
    padding: 0px;
    text-align: left;
    padding-left: 5px;
}

.drop ul li {
    text-align: left !important;
    color: #660000 !important;
    border-bottom: 1px solid #0c9fba;
}

.drop ul li a {
    color: #660000 !important;
    font-size: 18px !important;
}


/*-------endsidemenu----------*/

#whatsNew {
    position: absolute;
    padding-bottom: 20px;
    bottom: 20px;
    color: #fff;
    left: 50%;
    z-index: 200;
    margin-left: -160px;
    font-size: 47px;
    font-family: 'Proxima N W01 Light';
    text-align: center;
}

#whatsNew a {
    color: #fff;
}

#slideshow {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#slides {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.captionHolder {
    width: 100%;
    min-height: 104px;
    max-width: 580px;
    position: absolute;
    z-index: 1000;
    left: 0px;
    bottom: 0px;
}

.caption {
    width: 100%;
    max-width: 457px;
    min-height: 104px;
    float: left;
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 33px;
    background: #f8d905;
    padding: 20px;
    color: #660000;
}

.play {
    width: 120px;
    padding: 10px;
    float: right;
    background: #f8d905;
    color: #127f93;
    font-size: 100px;
    text-align: center;
}

.play img {
    margin-top: -60px;
}

#arrowHolder {
    width: 141px;
    height: 105px;
    position: absolute;
    z-index: 1000;
    right: 0px;
    bottom: 0px;
}

#about {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background: url('img/about_back.jpg');
    overflow: hidden;
}

#about .cap {
    color: #f8d905;
    margin-top: 100px;
    font-family: "PMNCaeciliaW01-75Bold";
}

.cap h1 {
    font-size: 70px !important;
}

#about .main {
    color: #fff;
    font-family: 'Proxima Nova W07 Semibold';
}

.main p {
    font-size: 45px;
}

.main a {
    color: #fff !important;
}

#whatsNew h1 {
    font-family: 'Proxima N W01 Light';
}

#about2 {
    width: 100%;
    height: auto;
    background-color: #f8d905;
}

#about2 .container {
    padding-top: 241px;
    max-width: 1450px;
    width: 100%;
}

.fact {
    float: left;
    height: 320px;
    margin-bottom: 127px;
    max-width: 450px;
    margin-right: 20px;
    width: 100%;
    text-align: center;
    color: #660000 !important;
}

.fact .icon {
    width: 100%;
}

.fact h1 {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 70px;
}

.fact h2 {
    font-family: "PMNCaeciliaW01-45Light";
    font-size: 2.375em;
}

.blue {
    color: #0c9fba !important;
}

.black {
    color: #000 !important;
}

#academics {
    width: 100%;
    height: auto;
    background-image: url('img/academic_back.jpg');
    padding-bottom: 40px;
}

#academics .cap,
#admissions .cap,
#campusLife .cap,
#newOrleans .cap {
    margin-top: 100px;
    color: #f8d905;
    font-family: "PMNCaeciliaW01-75Bold";
}

#academics .main,
#admissions .main,
#campusLife .main,
#newOrleans .main {
    color: #fff;
    font-family: 'Proxima Nova W07 Semibold';
    /*margin-left: 330px;*/
}

#action {
    width: 100%;
    max-width: 543px;
}

small {
    color: #000 !important;
}

#action ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 50px;
}

#action ul li {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 35px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #f8d905;
    white-space: nowrap;
    background: url(img/smallPlay.png) no-repeat 100% 10px;
}

#action ul li:last-child {
    border-bottom: 0;
}

#action ul li a {
    color: #fff;
    text-decoration: none;
}

#academics2 {
    width: 100%;
    padding-bottom: 20px;
    background: #b1ffff no-repeat center;
}

#academics2 .container {
    max-width: 1150px !important;
}

.nomargin {
    margin-right: 0px !important;
}

#academics2 .title {
    margin-top: 156px;
}

#humans {
    width: 100%;
    margin-top: 66px;
    text-align: center;
}

.people {
    max-width: 315px;
    width: 100%;
    /*border: 1px solid #000;*/
    height: 316px;
    margin-right: 70px;
    margin-bottom: 70px;
    float: left;
    cursor: pointer;
    padding-bottom: 20px;
}

.people img {
    width: 100%;
}

.cover {
    width: 317px;
    height: 318px;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    display: none;
    background: url(img/yellowTile.png);
    color: #000;
    padding: 30px 50px 50px 50px;
}

#admissions {
    width: 100%;
    height: auto;
    background-image: url('img/admissions_back.jpg');
    overflow: hidden;
    padding-bottom: 40px;
}

#admissions .cap {
    margin-top: 258px;
    color: #f8d905;
    font-family: "PMNCaeciliaW01-75Bold";
}

#admissions2 {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background: #f8d905 no-repeat center;
}

#admissions2 .container {
    padding-top: 151px;
    padding-bottom: 151px;
}

#futureBox {
    margin-top: 50px;
}

.future {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.future .cover {
    width: 358px;
    height: 214px;
    position: absolute;
    z-index: 100;
    border-radius: 0 !important;
    display: none;
    background: url(img/yellowTile.png);
    color: #000;
    text-align: center;
    padding: 10px;
}

#campusLife {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-image: url('img/campus_back.jpg');
    overflow: hidden;
}

#campusLife .cap {
    margin-top: 240px;
}

#socialFeed {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-color: #b1ffff;
    overflow: hidden;
}

#socialFeed .container {
    margin-top: 218px;
}

#socialFeed .cap {
    margin-left: 0px !important;
}

#feedHolder {
    text-align: left;
}

.tweet {
    max-width: 558px;
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #000;
}

.instagram {
    width: 100%;
    max-width: 556px;
    height: auto;
    padding: 10px;
    border: 2px solid #000;
}

#newOrleans {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    background: url('img/tree.jpg') no-repeat;
    overflow: hidden;
}

#newOrleans .cap {
    margin-top: 291px;
}

#map {
    width: 100%;
    height: 600px;
}

#footer {
    background: #620003;
    width: 100%;
    height: 181px;
    padding-top: 54px;
}

#footer .container {
    max-width: 1600px !important;
    width: 100%;
}

.ajcu {
    float: right;
}


/*------------------smallLaptop----------------------------------------*/

@media screen and (max-width: 1400px) {
    nav ul li {
        font-size: 18px !important;
    }
    nav ul li a {
        padding: 10px;
    }
}


/*-----------------mobileandtabletstuff-------------------------------*/

@media screen and (max-width: 400px) {
    #video {
        /*background: url('img/hero-bg-mobile.jpg') no-repeat center; */
    }
}

@media screen and (max-width: 1000px) {
    video {
        display: none;
    }
    #academics2 .title {
        margin-top: 40px;
    }
    #futureBox {
        margin-top: 50px;
        text-align: center;
    }
    .future {
        float: none !important;
        margin: 0 auto;
        margin-right: 10px;
        margin-top: 10px;
    }
    #about2 .container {
        padding-top: 40px;
        max-width: 1450px;
        width: 100%;
    }
    #sideMenu {
        max-width: none;
        position: absolute;
        top: 70px;
        display: none;
    }
    #sidenav {
        max-width: none;
        width: 100%;
        float: left;
        padding: 0px;
    }
    #sidenav ul {
        padding: 0px !important;
        margin: 0px !important;
    }
    #sidenav li img {
        float: none;
        margin-top: 0px;
    }
    #sidenav .item {
        float: left;
        width: 200px;
        padding-right: none;
    }
    #sidenav li {
        list-style-type: none;
        white-space: nowrap;
        float: left;
        font-size: 25px !important;
        display: inline !important;
        width: auto;
        color: #0c9fba;
        margin-right: 40px;
        text-align: left !important;
        margin-bottom: 15px;
    }
    #search {
        white-space: nowrap;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    #search input[type="text"] {
        background: #f8d905;
        border: 0;
        width: 75%;
    }
    #search i {
        color: #660000;
        font-size: 22px;
        padding-left: 10px;
    }
    #subnav {
        width: 200px;
        margin-left: 0px;
    }
    #subnav li {
        font-size: 21px !important;
        list-style-type: none;
        color: #84817d;
        text-align: left !important;
        white-space: nowrap;
        float: left;
        width: 300px;
        margin-left: 0px !important;
        margin-bottom: 15px;
    }
    #subnav .item {
        float: left;
        width: 250px;
        color: #84817d;
        padding-right: 10px;
    }
    #subnav li img {
        float: left;
        margin-top: 3px;
        width: 20px;
    }
    .cap h1 {
        font-size: 30px !important;
    }
    #mobileNav {
        display: block;
        min-height: 50px;
        padding: 1em;
        border-bottom: 3px #660000 solid;
    }
    #desktopNav {
        display: none;
    }
    .cap {
        margin-top: 40px !important;
    }
    .title {
        font-size: 30px !important;
        color: #000 !important;
    }
    .main p {
        font-size: 25px;
    }
    #action ul li {
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
        border-bottom: 2px solid #f8d905;
        white-space: nowrap;
        background: url(img/smallPlay.png) no-repeat 100% 3px;
    }
    #about {
        height: auto;
    }
    .fact {
        float: none !important;
        height: 320px;
        margin: 0 auto !important;
        margin-bottom: 127px;
        max-width: 450px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        color: #660000 !important;
    }
    #humans {
        width: 100%;
        margin-top: 66px;
        text-align: center;
    }
    #socialFeed {
        width: 100%;
        height: auto;
        background: #b1ffff no-repeat center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #socialFeed .container {
        margin-top: 40px;
    }
    #admissions2 .container {
        padding-top: 40px;
        padding-bottom: 151px;
    }
    #academics {
        width: 100%;
        height: auto;
        background: url('img/academic_back.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .people {
        max-width: 315px;
        width: 100%;
        height: 316px;
        margin-right: 0px !important;
        float: none !important;
        cursor: pointer;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
    #admissions {
        width: 100%;
        height: auto;
        background: url('img/admissions_back.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #campusLife {
        width: 100%;
        height: auto;
        background: url('img/campus_back.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #newOrleans {
        width: 100%;
        height: auto;
        background: url('img/tree.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #navContainer {
        text-align: center;
        float: none !important;
        display: block;
    }
    #header {
        width: 100%;
        display: none;
        background: #fff;
        padding-top: 10px;
        text-align: center;
        position: static;
        z-index: 2000;
    }
    #video .inner {
        margin-top: 0px;
        position: absolute;
        top: 50%;
        z-index: 300;
    }
    #logo {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0px;
        margin: 0 auto;
    }
    #logo img {
        margin: 0 auto;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    nav ul li {
        font-family: "PMNCaeciliaW01-75Bold";
        display: inline;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 5px;
        color: #660000;
        list-style-type: none;
        text-transform: uppercase;
    }
    video {
        position: static;
        top: 50%;
        left: 50%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 100;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        transition: 1s opacity;
        max-width: 100%;
    }
    #footer {
        background: #620003;
        width: 100%;
        height: auto;
        padding-top: 54px;
        padding-bottom: 100px;
        text-align: center;
    }
    #footer img {
        margin: 0 auto !important;
    }
    #footer div {
        float: none !important;
    }
    .people img {
        width: 100%;
    }
    .caption {
        width: 50%;
        max-width: 457px;
        max-height: 100px;
        float: left;
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 20px;
        background: #f8d905;
        padding: 20px;
        color: #660000;
    }
    .play {
        display: none;
    }
}


/*-------------landing page styles----------*/

#landingbottom {
    min-height: 200px;
}

.lightyellow {
    background: #fbe869;
}

.lightblue {
    background: #d0ffff;
}

.landhead {
    width: 270px !important;
    background: #fff;
    /*padding-top: 10px;*/
    position: fixed;
    z-index: 2000;
}

.yellowback {
    background: #b1ffff;
    background: #f8d905;
}

.blueback {
    background: #b1ffff;
}

.about {
    background: #f8d905;
    min-height: 1000px;
    padding-bottom: 100px;
}

.landcontainer {
    min-height: 100px;
    position: relative;
    padding-bottom: 100px;
    top: 150px;
    left: 150px;
}

.landcontainer .title {
    font-size: 60px;
    color: #000;
    margin-left: 15px;
}

.landcol {
    min-height: 100px;
    margin-top: 80px;
}

.landbox {
    float: left;
    margin-bottom: 80px;
}

.landbox h4 {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 35px;
    color: #000;
}

.landbox p {
    font-family: "PMNCaeciliaW01-75Bold";
    max-width: 450px;
    margin-bottom: 30px;
}

.landcontent h4 {
    font-size: 32px !important;
}

.landbox ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.landbox ul li {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 25px;
    list-style-type: none;
    color: #620003;
    width: 415px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 3px solid #620003;
}

.landbox ul li img {
    position: absolute;
    left: 380px;
    vertical-align: top;
    padding-left: 20px;
    margin-top: 4px;
}

.landbox ul li a {
    color: #620003 !important;
}

.landbox ul li:last-child {
    border-bottom: 0;
}

.landbox ul li a {
    color: #fff;
    text-decoration: none;
}

#landingbottom .container {
    position: relative;
    left: 150px;
}

#landingbottom .landbox p {
    max-width: none;
}

#landingbottom .landbox ul li {
    font-size: 35px;
    width: 600px;
}

#landingbottom .landbox ul li img {
    font-size: 35px;
    left: 550px;
}

#landingbottom .landbox ul li {}


/*------text--------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PMNCaeciliaW01-75Bold";
}

#admissions2 p {
    font-family: 'Proxima N W01 Light';
    font-size: 24px;
    margin-top: 40px;
}

.title {
    font-size: 60px;
    color: #000;
}

.cover h3 {
    font-family: 'Proxima N W01 Light';
}

.cover p {
    font-family: 'Proxima Nova W07 Semibold';
    font-size: 30px;
}

.future .cover p {
    font-size: 30px !important;
    margin: 0px !important;
    padding: 0px !important;
}

#footer p {
    color: #fff;
    font-family: 'Proxima N W01 Light';
}

.help {}

#footer a {
    color: #fff;
    font-family: 'Proxima Nova W07 Semibold';
}
