/*
Font: 		Faith And Glory Two
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T5815/faith-and-glory
Foundry: 	Set Sail Studios
Foundry: 	https://www.youworkforthem.com/designer/527/set-sail-studios
Copyright:	Copyright (c) 2015 by Set Sail Studios. All rights reserved.
Version: 	17
Created:	August 10, 2015
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'FaithAndGloryTwo';
	src: url('faith-and-glory-two.eot');
	src: url('faith-and-glory-two.eot?#iefix') format('embedded-opentype'),
             url('faith-and-glory-two.woff2') format('woff2'),
	     url('faith-and-glory-two.woff') format('woff'),
	     url('faith-and-glory-two.ttf') format('truetype'),
	     url('faith-and-glory-two.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
