// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

$maroon: #660000 !default;
$coral: #e5554f !default;
$red: #f93822 !default;
$grey: #84817d !default;
$gold: #fad800 !default;
$yellow: #ffd700 !default;
$orangeRed: #f83823 !default;
$slab-light: 'PMNCaeciliaW01-45Light';
ul {
    margin: 0;
}

section {
    width: 100%;
    h2 {
        @extends .caeBold;
        font-size: 60px;
        @media screen and (min-width: 768px) {
            font-size: 90px;
        }
    }
}

.faith1 {
    font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
}

.faith2 {
    font-family: 'FaithAndGloryTwo', Helvetica, Arial, Sans-Serif;
}

.caeBold {
    font-family: "PMNCaeciliaW01-75Bold";
}

.caeLight {
    font-family: "PMNCaeciliaW01-45Light";
}

.faith1 a,
.faith2 a {
    padding: .5em
}

.allcaps {
    text-transform: uppercase;
}

.white {
    color: #fff;
}

.parallax {
    min-height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
}

.bounce {
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    margin-bottom: 20px;
}

#mobileNav {
    display: none;
}

.more {
    font-size: 30px;
    text-decoration: underline;
    background-color: $coral;
    padding: 4px 12px;
    text-decoration: none;
    font-weight: 300;
    &:hover {
        text-decoration: none;
        background-color: $gold;
        color: $maroon !important;
    }
}

.inner {
    text-align: center;
}

#header {
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
}

#mobileNav {
    width: 100%;
}

#mobileNav i {
    color: #e55652;
    font-size: 40px;
}

.top_nav {
    @extends .row;
    a {
        color: $grey;
    }
    padding: 15px 25px;
}

.top_nav nav {
    padding: 0;
    height: 39px;
    ul {
        padding: 0;
        line-height: 1;
        display: flex;
        justify-content: center;
        height: 100%;
    }
    li {
        padding: 0 20px 0 0;
        padding: 0;
        line-height: 1;
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-around;
        a {
            padding: 0;
            font-size: 16px;
            @media screen and (min-width: 1100px) {
                font-size: 18px;
            }
            @media screen and (min-width: 1400px) {
                font-size: 22px;
            }
        }
    }
}

.more_link::after {
    content: ' +';
    color: $maroon;
    vertical-align: top;
}

h1.desktop_logo {
    //@extend .col-md-7 !optional;
    //margin: 0;
    //padding-right: 0;
    padding-left: 22px;
    float: left;
    padding: 0;
    margin: 0 15px 0 0;
    height: 39px;
    width: 595px;
    @media screen and (min-width: 1300px) {
        width: 861px;
    }
    a {
        color: transparent;
        font: 0/0 a;
        width: 100%;
        height: 100%;
        background-color: transparent;
        background-image: url('../../img/logo-loyola-horizontal.png');
        background-repeat: no-repeat;
        background-position: left;
        display: block;
        background-size: contain;
        @media screen and (min-width: 1100px) {
            background-size: cover;
        }
    }
}

.secondary_nav {
    //@extends .row;
    padding: 17px 0 16px;
    background-color: $maroon;
    a {
        //color: $gold;
    }
}

.secondary_nav_mobile {
    padding-top: 10px;
    padding-bottom: 12px;
    @media screen and (min-width: 1000px) {
        display: none;
    }
    @extends .secondary_nav;
    background-color: $maroon;
    margin-top: 0;
    ul {
        @extends .list-inline;
        li {
            @extends .list-inline-item;
        }
        a {
            color: $gold;
            padding: 2px;
            font-weight: 300;
            &:hover {
                background: transparent;
                color: #fff;
            }
        }
    }
}

#mobLogo {
    margin-top: 0;
}

nav ul {
    text-align: center;
    position: relative;
    margin: 0 auto;
    line-height: 1;
}

nav ul li {
    font-family: "PMNCaeciliaW01-75Bold";
    display: inline;
    font-size: 25px;
    color: #660000;
    list-style-type: none;
    text-transform: uppercase;
}

nav ul li a {
    color: $gold;
    text-decoration: none;
    padding: 0 28px;
}

nav ul li a:hover {
    text-decoration: none;
    color: $maroon;
    background-color: #fff;
}

#search {
    white-space: nowrap;
    float: left;
    height: 39px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: stretch;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    &.mobileNav {
        margin-bottom: 0;
    }
    margin-left: 15px;
}

#search input[type="text"] {
    background: #f8d905;
    border: 0;
    min-width: 170px;
    color: $grey;
    text-transform: uppercase;
    padding-left: .5em;
}

#search i {
    color: $maroon;
    font-size: 22px;
    padding-left: 10px;
}


/* .active {
    text-decoration: none !important;
    color: #660000 !important;
    background: #f8d905 !important;
    padding-top: 27px;
    padding-bottom: 18px;
} */

a.giveNow {
    background: #660000;
    padding: 8px 10px;
    color: $gold;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    @media screen and (min-width: 768px) {
        font-size: 19px;
        padding: 4px 12px;
    }
    margin: 6px auto 12px;
    display: inline-block;
    &:hover {
        color: #fff;
    }
}


/*---------sidemenu------------------*/

ul.arrow > li {
    // to add the arrow after <li>s
    a::after {
        background-image: url('../../img/arrow-white.png');
        background-repeat: no-repeat;
        background-position: center center;
        width: 21px;
        height: 16px;
        content: ' ';
        display: inline-block;
        background-size: 100%;
    }
}

#sideMenu {
    text-align: right;
    position: fixed;
    @media screen and (min-width: 1281px) {
        max-width: 222px;
    }
    max-width: 170px;
    width: 100%;
    padding: 0 15px 15px;
    display: block;
    background-color: #f83823;
    top: 0;
    z-index: 1000;
    margin-top: 108px;
    font-family: proxima-nova,
    sans-serif;
    font-style: normal;
    font-weight: 600;
    &.alert-activated {
        @media screen and (min-width: 768px) {
            margin-top: 128px;
        }
        margin-top: 0;
        z-index: 1001
    }
    @media screen and (min-width: 1000px) {
        padding-top: 15px;
    }
    @media screen and (max-width: 1024px) {
        max-width: none;
        position: relative;
        top: 0;
        display: none;
    }
}

#sideMenu ul li {
    list-style-type: none;
    white-space: nowrap;
    text-align: right;
}

#social-links-wrapper {
    color: #fff;
    text-align: right;
    font-family: proxima-nova, sans-serif;
    margin: 1.5em 0;
    @media screen and (min-width: 1000px) {
        text-align: center;
    }
    #social-links {
        a {
            width: 30px;
            height: 30px;
            display: inline-block;
            background-size: cover;
            @media screen and (min-width: 1281px) {
                width: 39px;
                height: 40px;
            }
        }
        .facebook {
            background-image: url('../../img/social/facebook.png');
            background-repeat: no-repeat;
        }
        .flickr {
            background-image: url('../../img/social/flickr.png');
            background-repeat: no-repeat;
        }
        .twitter {
            background-image: url('../../img/social/twitter.png');
            background-repeat: no-repeat;
        }
        .instagram {
            background-image: url('../../img/social/instagram.png');
            background-repeat: no-repeat;
        }
    }
    .social-links-text {
        padding-right: 8px;
        font-size: 1.05em;
        @media screen and (min-width: 1281px) {
            font-size: 1.25em;
        }
    }
}

#sidenav {
    width: 100%;
    float: left;
    @media screen and (max-width: 1000px) {
        margin: 1em 0;
        width: 100%;
        li img {
            float: none;
            margin-top: 0px;
        }
        .item {
            float: left;
            width: 200px;
            padding-right: none;
        }
    }
    @media screen and (min-width: 1001px) {
        max-width: 200px;
    }
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        list-style-type: circle;
        white-space: nowrap;
        color: #fff;
        text-transform: lowercase;
        font-size: 20px;
        @media screen and (min-width: 1281px) {
            font-size: 24px;
        }
        margin: 0;
        @media screen and (min-width: 420px) and (max-width: 1000px) {
            list-style-type: none;
            white-space: nowrap;
            float: left;
            width: auto;
            color: #0c9fba;
            margin-right: 25px;
            text-align: right;
            margin-bottom: 15px;
        }
        a {
            color: #fff;
        }
    }
}

#sidenav .item {
    float: left;
    width: 170px;
    padding-right: 10px;
}

#sidenav li img {
    float: left;
    margin-top: 10px;
}

#findPeopleNav {
    display: inline-block;
    text-align: right;
    nav {
        display: inline-block;
        ul {
            width: 100%;
            float: right;
            text-align: right;
        }
        a {
            color: #fff;
            font-size: .85em;
            padding: 4px 8px;
            &:hover {
                color: $gold;
                background: transparent;
            }
        }
    }
}

#subnav {
    width: 200px;
    margin-left: -50px;
}

#subnav li {
    font-size: 21px !important;
    list-style-type: none;
    color: #84817d;
    white-space: nowrap;
    float: left;
    width: 240px;
    margin-bottom: 15px;
}

#subnav .item {
    float: left;
    width: 220px;
    color: #84817d;
    padding-right: 10px;
}

#subnav li img {
    float: left;
    margin-top: 3px;
    width: 20px;
}

.drop {
    float: left;
    display: none;
}

.drop ul {
    color: #660000 !important;
    padding: 0px;
    text-align: left;
    padding-left: 5px;
}

.drop ul li {
    text-align: left !important;
    color: #660000 !important;
    border-bottom: 1px solid #0c9fba;
}

.drop ul li a {
    color: #660000 !important;
    font-size: 18px !important;
}

.emergency_alert {
    background: $orangeRed;
    padding: 15px;
    text-align: left;
    @extends .row;
    @media screen and (min-width: 768px) {
        text-align: center;
    }
    color: #fff;
    .headline {
        color: $yellow;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
    }
    .alert_info {
        display: inline-block;
    }
    a {
        color: #fff;
        border-bottom: 1px $coral solid;
        padding-bottom: 2px;
        &:hover {
            text-decoration: none;
            color: $gold;
            border-bottom: 1px $gold solid;
        }
    }
}

#more-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000000;
    display: none;
    #more-menu-inner {
        background: $gold;
        margin: 0 auto;
        padding: 3em 2em;
    }
}


/*-------endsidemenu----------*/

#whatsNew {
    position: absolute;
    bottom: 20px;
    color: #fff;
    z-index: 200;
    font-size: 47px;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

#whatsNew a {
    color: #fff;
}

#whatsNew h2 {
    font-family: 'Proxima N W01 Light';
    margin: 0;
    padding: 0;
}

video {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 100;
    background-size: cover;
    transition: 1s opacity;
}

#video {
    width: 100%;
    min-height: 277px;
    max-height: 100%;
    background-image: url('../../img/hero-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-position: -10%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: 412px) {
        background-image: url('../../img/hero-bg-tablet.jpg');
        background-position: top;
    }
    @media screen and (min-width: 768px) {
        background-image: url('../../img/hero-bg-desktop.jpg');
    }
    video {
        display: block;
    }
}

#video .inner {
    margin-top: 600px;
    position: relative;
    z-index: 200;
}

#video .inner img {
    margin: 0 auto;
}

#myCarousel {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    .home-slider-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        min-height: 320px;
        background-position: center top;
        background-repeat: no-repeat;
    }
}

#slides {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    height: 347px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    @media screen and (min-width: 768px) {
        height: 694px;
    }
    @media screen and (min-width: 1024px) {
        height: 1024px;
    }
}

.holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    margin-top: -108px;
}

.caption {
    width: 39%;
    min-height: 104px;
    float: left;
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 33px;
    padding: 5px 30px;
    color: $maroon;
    min-height: 104px;
    z-index: 1000;
    background-color: $yellow;
    justify-content: flex-start;
}

.play {
    width: 120px;
    padding: 10px;
    float: right;
    background: #f8d905;
    color: #127f93;
    font-size: 100px;
    text-align: center;
}

.play img {
    margin-top: -60px;
}

#arrowHolder {
    z-index: 1000;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#about {
    width: 100%;
    height: 100%;
    background-image: url('../../img/about_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    overflow: hidden;
    padding: 1.5em;
    @media only screen and (max-width: 468px) {
        background-size: cover;
    }
}

#about .cap {
    color: #f8d905;
    margin-top: 100px;
    font-family: "PMNCaeciliaW01-75Bold";
}

#about .main {
    font-family: Proxima Nova;
    font-size: 22.5px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: 0.3px;
    text-align: left;
    color: #ffffff;
    @media screen and (max-width: 468px) {
        margin-top: 20px;
    }
}

.main p {
    font-size: 45px;
}

.main a {
    color: #fff !important;
}

.set-the-world-on-fire,
.meet-your-neighbors {
    font-family: Faith And Glory Two;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.5px;
    text-align: left;
    color: #fff;
    margin-top: 20px;
    @media screen and (min-width: 1000px) {
        margin-top: 140px;
    }
    display: inline-block;
}

.text-style-1 {
    font-family: Faith And Glory One;
    font-size: 105px;
    line-height: 0.87;
    letter-spacing: 1.3px;
}

.blue {
    color: #0c9fba;
}

.maroon {
    color: $maroon;
}

.pink {
    color: $coral;
}

.black {
    color: #000;
}

.col-xs-12 {
    // using this for the small version of some sections to remove the gutters
    // only for small in conjunction with .nopadding class below... extending itself (to include original col-xs-12 bootstrap ~mj)
    @extends .col-xs-12;
    &.nopadding {
        padding-left: 0;
        padding-right: 0;
    }
    @media screen and (max-width: 468px) {
        &.addPadding {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.college h2 {
    color: #fff;
}

.full-width-bg {
    width: 100%;
    height: auto;
    float: left;
    background: url('../../img/background-campus-life.jpg') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#colleges-programs {
    display: flex;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: auto;
    float: left;
    h3 {
        margin: 1em 0;
        padding: 0;
        @media screen and (max-width: 468px) {
            text-align: center;
        }
    }
    .colleges-programs-holder {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }
    .college {
        height: 628px;
        background-repeat: no-repeat; // so no repeating of backgrounds by accident ~mj
        background-size: cover;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        justify-content: flex-end;
        @media screen and (max-width: 768px) {
            flex-basis: 100%;
        }
        @media screen and (min-width: 1000px) {
            flex-basis: 19.75%;
            flex-direction: row;
        }
        h2 {
            color: #fff !important;
        }
        h4 {
            background-color: $coral;
            color: #fff;
            text-align: center;
            align-self: flex-end;
            align-content: center;
            font-size: 1.625em;
            font-family: $slab-light, serif;
            font-weight: 300;
            min-height: 60px;
            margin: 0;
            padding: .75em .5em;
            width: 100%;
            position: relative;
            @media screen and (min-width: 768px) {
                font-size: 1em;
            }
            @media screen and (min-width: 1000) {
                font-size: 1.25em;
                /* 20/16 */
            }
            @media screen and (min-width: 1450px) {
                font-size: 1.625em;
                /* 26/16 */
                min-height: 96px;
            }
            &:hover {
                background-color: $yellow;
                color: $coral;
                transition: background-color .75s ease;
            }
        }
        &.art-sciences {
            background-image: url('../../img/colleges/programs-cas.jpg');
            background-position: top;
        }
        &.business {
            background-image: url('../../img/colleges/programs-cob.jpg');
            background-position: top;
        }
        &.music-fine-arts {
            background-image: url('../../img/colleges/programs-cmfa.jpg');
            background-position: top;
        }
        &.mass-comm {
            background-image: url('../../img/colleges/programs-mass-comm.jpg');
            background-position: bottom;
        }
        &.graduate-programs {
            background-image: url('../../img/colleges/programs-gps.jpg');
            background-position: center;
        }
    }
}

#academics {
    padding-bottom: 40px;
    background-image: url('../../img/academic_back.jpg');
    background-position: 64%;
    padding: 1.5em;
    @media screen and (min-width: 768px) {
        background-position: 100%;
    }
    background-repeat: no-repeat;
}

.big-school-feel {
    font-family: Faith And Glory Two;
    font-size: 45px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    text-align: left;
    color: #fff;
    margin-top: 140px;
}

#academics .cap,
#admissions .cap,
#campusLife .cap,
#newOrleans .cap {
    margin-top: 100px;
    color: #f8d905;
    font-family: "PMNCaeciliaW01-75Bold";
}

#academics .main,
#admissions .main,
#campusLife .main,
#newOrleans .main {
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    margin-top: 50px;
}

#action {
    width: 100%;
    max-width: 543px;
}

#action ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 50px;
}

#action ul li {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 35px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 2px solid #f8d905;
    white-space: nowrap;
    background: url('../../img/smallPlay.png') no-repeat 100% 10px;
}

#action ul li:last-child {
    border-bottom: 0;
}

#action ul li a {
    color: #fff;
    text-decoration: none;
}

#loynoFacts {
    width: 100%;
    height: auto;
    background-color: #fff;
    float: left;
    padding: 85px 0 50px;
    #theFacts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
        @media only screen and (max-width: 468px) {
            flex-direction: column;
            padding: 0;
            text-align: center;
            @extends .col-xs-12;
        }
        li {
            min-height: 275px;
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            background-repeat: no-repeat;
            flex-grow: 0;
            align-items: center;
            justify-content: center;
            //@extends .list-inline-item;
            list-style-type: none;
            text-align: center;
        }
        .icon {
            width: 100%;
            height: auto;
            &.people {
                background-image: url('../../img/people_icon.png');
                background-size: cover;
                width: 133px;
                height: 122px;
                max-width: 100%;
            }
            &.earth {
                background-image: url('../../img/earth-img.png');
                background-size: cover;
                width: 131px;
                height: 131px;
            }
            &.city {
                background-image: url('../../img/city_icon.png');
                background-size: cover;
                height: 42px;
                max-height: 100%;
            }
        }
        h2 {
            font-family: "PMNCaeciliaW01-75Bold";
            font-size: 70px;
        }
        h3 {
            font-family: "PMNCaeciliaW01-45Light";
            font-size: 2.375em;
        }
    }
}

.photo-based {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 1em;
    @media screen and (min-width: 1024px) {
        padding: 50px 0 0 25px;
    }
    h3 {
        padding: 0;
    }
    .col-md-2 {
        @media only screen and (max-width: 468px) {
            display: none;
        }
    }
}

.photo-hover-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    h3 a {
        font-weight: 200;
        color: #fff;
        @extends .caeLight;
        //font-family: $slab-light;
    }
    .photo-quote {
        //font-weight: 500;
        font-size: 1.5em;
        color: #fff;
        @extends .caeBold;
    }
}

#heartOfPack,
#photoGalleryHome {}

#thePack,
#theFuture {
    // ul 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @media only screen and (max-width: 468px) {
        flex-direction: column;
        padding: 0;
        text-align: center;
        @extends .col-xs-12;
    }
    li {
        flex-basis: 260px;
        @media screen and (min-width: 1281px) {
            flex-basis: 320px;
        }
        flex-grow: 0;
        justify-content: center;
        @extends .list-inline-item;
        list-style-type: none;
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
        @media only screen and (max-width: 468px) {
            margin-bottom: 10px;
        }
        margin-bottom: 27px;
    }
}

.nomargin {
    margin-right: 0px !important;
}

#humans {
    width: 100%;
    margin-top: 66px;
    text-align: center;
}

.cover {
    width: 317px;
    height: 318px;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    display: none;
    background: url('../../img/yellowTile.png');
    color: #000;
    padding: 30px 50px 50px 50px;
}

#admissions {
    background-image: url('../../img/admissions_back.jpg');
    padding-bottom: 40px;
    padding: 1.5em;
}

#admissions .cap {
    margin-top: 258px;
    color: #f8d905;
    font-family: "PMNCaeciliaW01-75Bold";
}

#admissions2 {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background: #f8d905 no-repeat center;
}

#admissions2 .container {
    padding-top: 151px;
    padding-bottom: 151px;
}

#futureBox {
    margin-top: 50px;
}

.future {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.future .cover {
    width: 358px;
    height: 214px;
    position: absolute;
    z-index: 100;
    border-radius: 0 !important;
    display: none;
    background-image: url('../../img/yellowTile.png');
    color: #000;
    text-align: center;
    padding: 10px;
}

.meet-your-neighbors {}

#campusLife .cap {
    margin-top: 240px;
}

#socialFeed {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    background-color: #fff;
    overflow: hidden;
    padding: 1.5em;
    h2 {
        font-family: $slab-light;
        font-size: 45px;
        @media screen and (min-width: 1000px) {
            font-size: 60px;
        }
        margin-bottom: 20px;
    }
}

#socialFeed-container {
    display: flex;
    flex: 0 1 auto;
    // will allow its children to grow successfully
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
}

#socialFeed .cap {
    margin-left: 0px !important;
}

#tweets {
    ul {
        @extend .list-unstyled;
    }
}

.tweet {
    height: auto;
    padding: 20px 20px 50px 30px;
    border: 2px solid #000;
    margin-bottom: 1em;
    position: relative;
    &:last-child {
        @media screen and (min-width: 1000px) {
            margin-bottom: 0;
        }
    }
    .twitter_real_name {
        font-weight: 500;
    }
    .twitter_handle {
        font-weight: 200;
    }
    &:after {
        content: ' ';
        background-image: url(../../img/social/social-feed-twitter.png);
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        display: block;
        position: absolute;
        bottom: 3px;
        right: 4px;
        background-size: cover;
    }
}

.twitter_interact {
    li {
        display: inline;
        a {
            width: 36px;
            height: 36px;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            font: 0/0 a;
            color: transparent;
        }
    }
    .twitter_reply {
        background-image: url(../../img/social/social-feed-reply.png);
    }
    .twitter_retweet {
        background-image: url(../../img/social/social-feed-retweet.png);
    }
    .twitter_like {
        background-image: url(../../img/social/social-feed-favorite.png);
    }
}

#instagram {
    display: flex;
    flex: 1;
    // don't need to put plex on tweets since this is the one that needs to grow
}

.instagram-post {
    height: auto;
    padding: 10px 20px;
    border: 2px solid #000;
}

#feedHolder {
    text-align: left;
}

#campusLife {
    background-image: url('../../img/background-campus-life.jpg');
}

#newOrleans {
    background-image: url('../../img/background-new-orleans.jpg');
    padding: 1.5em;
}

#newOrleans .cap {
    margin-top: 291px;
}

#map {
    width: 100%;
    height: 600px;
}

#footer {
    background: #620003;
    width: 100%;
    height: 181px;
    padding-top: 54px;
    img {
        @media screen and (max-width: 768px) {
            display: block;
            margin: 0 auto;
            text-align: center;
            // center only at tablet and smaller size
        }
    }
    .img-responsive {
        max-width: 100%;
    }
}

#footer .container {
    //max-width: 1600px !important;
    width: 100%;
}

.ajcu {
    @media screen and (min-width: 768px) {
        float: right;
    }
}


/*------------------smallLaptop----------------------------------------*/

@media screen and (max-width: 1400px) {
    nav ul li {
        font-size: 16px !important;
    }
    nav ul li a {
        padding: 10px;
    }
}

@media screen and (min-width: 1400px) {
    nav ul li {
        font-size: 18px !important;
    }
}


/*-----------------mobileandtabletstuff-------------------------------*/

@media screen and (max-width: 1000px) {
    #futureBox {
        margin-top: 50px;
        text-align: center;
    }
    .future {
        float: none !important;
        margin: 0 auto;
        margin-right: 10px;
        margin-top: 10px;
    }
    #about2 .container {
        padding-top: 40px;
        max-width: 1450px;
        width: 100%;
    }
    #search {
        white-space: nowrap;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    #search input[type="text"] {
        background: #f8d905;
        border: 0;
        width: 75%;
        color: $grey;
        text-transform: uppercase;
    }
    #search i {
        color: #660000;
        font-size: 22px;
        padding-left: 10px;
    }
    #subnav {
        width: 200px;
        margin-left: 0px;
    }
    #subnav li {
        font-size: 21px !important;
        list-style-type: none;
        color: #84817d;
        text-align: left !important;
        white-space: nowrap;
        float: left;
        width: 300px;
        margin-left: 0px !important;
        margin-bottom: 15px;
    }
    #subnav .item {
        float: left;
        width: 250px;
        color: #84817d;
        padding-right: 10px;
    }
    #subnav li img {
        float: left;
        margin-top: 3px;
        width: 20px;
    }
    .cap h1 {
        font-size: 30px !important;
    }
    #mobileNav {
        display: block;
        min-height: 50px;
        padding: 1em;
        border-bottom: 3px #660000 solid;
    }
    #desktopNav {
        display: none;
    }
    .cap {
        margin-top: 40px !important;
    }
    .title {
        font-size: 30px !important;
        color: #000 !important;
    }
    .main p {
        font-size: 25px;
    }
    #action ul li {
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 20px;
        padding-bottom: 10px;
        padding-right: 10px;
        border-bottom: 2px solid #f8d905;
        white-space: nowrap;
        background: url('../../img/smallPlay.png') no-repeat 100% 3px;
        margin-top: 4px;
    }
    #about {
        height: auto;
    }
    .fact {
        float: none !important;
        height: 320px;
        margin: 0 auto !important;
        margin-bottom: 127px;
        max-width: 450px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        @media screen and (min-width: 768px) {
            width: 25%;
        }
        text-align: center;
        align-items: center;
        float: left;
    }
    #admissions2 .container {
        padding-top: 40px;
        padding-bottom: 151px;
    }
    .people {
        max-width: 315px;
        width: 100%;
        height: 316px;
        margin-right: 0px !important;
        float: none !important;
        cursor: pointer;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
    #admissions {
        width: 100%;
        height: auto;
        background: url('../../img/admissions_back.jpg') no-repeat;
        background-position: bottom;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #campusLife {
        width: 100%;
        height: auto;
        background: url('../../img/campus_back.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #newOrleans {
        width: 100%;
        height: auto;
        background: url('../../img/tree.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
    #navContainer {
        text-align: center;
        float: none !important;
        display: block;
    }
    #header {
        width: 100%;
        display: none;
        background: #fff;
        padding-top: 10px;
        text-align: center;
        position: static;
        z-index: 2000;
        top: 0;
    }
    #logo img {
        margin: 0 auto;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    nav ul li {
        font-family: "PMNCaeciliaW01-75Bold";
        display: inline;
        font-size: 20px;
        padding-left: 0px;
        padding-right: 5px;
        color: #660000;
        list-style-type: none;
        text-transform: uppercase;
    }
    #footer {
        background: #620003;
        width: 100%;
        height: auto;
        padding-top: 54px;
        padding-bottom: 100px;
    }
    #footer img {
        margin: 0 auto !important;
    }
    #footer div {
        float: none !important;
    }
    .people img {
        width: 100%;
    }
    .caption {
        //width: 50%;
        //max-width: 457px;
        max-height: 100px;
        float: left;
        font-family: "PMNCaeciliaW01-75Bold";
        font-size: 1em;
        background: #f8d905;
        padding: 20px;
        color: #660000;
    }
    .play {
        display: none;
    }
    .ajcu {
        //$aligncenter;
    }
}


/*-------------landing page styles----------*/

#landingbottom {
    min-height: 200px;
}

.lightyellow {
    background: #fbe869;
}

.lightblue {
    background: #d0ffff;
}

.landhead {
    width: 270px !important;
    background: #fff;
    /*padding-top: 10px;*/
    position: fixed;
    z-index: 2000;
}

.yellowback {
    background: #b1ffff;
    background: #f8d905;
}

.blueback {
    background: #b1ffff;
}

.about {
    background: #f8d905;
    min-height: 1000px;
    padding-bottom: 100px;
}

.landcontainer {
    min-height: 100px;
    position: relative;
    padding-bottom: 100px;
    top: 150px;
    left: 150px;
}

.landcontainer .title {
    font-size: 60px;
    color: #000;
    margin-left: 15px;
}

.landcol {
    min-height: 100px;
    margin-top: 80px;
}

.landbox {
    float: left;
    margin-bottom: 80px;
}

.landbox h4 {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 35px;
    color: #000;
}

.landbox p {
    font-family: "PMNCaeciliaW01-75Bold";
    max-width: 450px;
    margin-bottom: 30px;
}

.landcontent h4 {
    font-size: 32px !important;
}

.landbox ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.landbox ul li {
    font-family: "PMNCaeciliaW01-75Bold";
    font-size: 25px;
    list-style-type: none;
    color: #620003;
    width: 415px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 3px solid #620003;
}

.landbox ul li img {
    position: absolute;
    left: 380px;
    vertical-align: top;
    padding-left: 20px;
    margin-top: 4px;
}

.landbox ul li a {
    color: #620003!important;
}

.landbox ul li:last-child {
    border-bottom: 0;
}

.landbox ul li a {
    color: #fff;
    text-decoration: none;
}

#landingbottom .container {
    position: relative;
    left: 150px;
}

#landingbottom .landbox p {
    max-width: none;
}

#landingbottom .landbox ul li {
    font-size: 35px;
    width: 600px;
}

#landingbottom .landbox ul li img {
    font-size: 35px;
    left: 550px;
}

#landingbottom .landbox ul li {}


/*------text--------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PMNCaeciliaW01-75Bold";
}

#admissions2 p {
    font-family: 'Proxima N W01 Light';
    font-size: 24px;
    margin-top: 40px;
}

.title {
    font-size: 60px;
    color: #000;
}

.cover h3 {
    font-family: 'Proxima N W01 Light';
}

.cover p {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.future .cover p {
    font-size: 30px !important;
    margin: 0px !important;
    padding: 0px !important;
}

#footer p {
    color: #fff;
    font-family: 'Proxima N W01 Light';
}

.help {}

#footer a {
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
}
